[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Markup Language Support
Comment[en_GB]=Markup Language Support
Comment[es]=Implementación de lenguaje de marcas
Comment[et]=Märkekeele toetus
Comment[pt]=Suporte para Linguagem de Formatação
Comment[pt_BR]=Suporte à linguagem de formatação
Comment[sv]=Stöd för taggspråk
Comment[uk]=Підтримка мов розмітки
Comment[x-test]=xxMarkup Language Supportxx
Name=KDevXmlSupport
Name[es]=KDevXmlSupport
Name[pt]=KDevXmlSupport
Name[pt_BR]=KDevXmlSupport
Name[sv]=KDevelop XML-stöd
Name[uk]=KDevXmlSupport
GenericName=Markup Language Support
GenericName[en_GB]=Markup Language Support
GenericName[es]=Implementación de lenguaje de marcas
GenericName[et]=Märkekeele toetus
GenericName[pt]=Suporte para Linguagem de Formatação
GenericName[pt_BR]=Suporte à linguagem de formatação
GenericName[sv]=Stöd för taggspråk
GenericName[uk]=Підтримка мов розмітки
GenericName[x-test]=xxMarkup Language Supportxx
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevxmllanguagesupport
X-KDevelop-Version=8
X-KDevelop-Language=XML
X-KDevelop-Args=XML
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/html,application/xhtml+xml,text/xml,application/xml,application/xslt+xml,application/xsd,application/wsdl+xml,application/x-wsdl
X-KDE-PluginInfo-Name=KDevXmlSupport
X-KDevelop-Mode=NoGUI
