[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevStructureTree
Name[da]=KDevStructureTree
Name[de]=KDevStructureTree
Name[es]=KDevStructureTree
Name[fr]=KDevStructureTree
Name[it]=KDevStructureTree
Name[nds]=Struktuurboom för KDevelop
Name[nl]=KDevStructureTree
Name[pt]=KDevStructureTree
Name[pt_BR]=KDevStructureTree
Name[sv]=Kdevelop strukturträd
Name[uk]=KDevStructureTree
Name[x-test]=xxKDevStructureTreexx
Name[zh_CN]=KDevStructureTree
GenericName=Structure Tree Plugin
GenericName[da]=Træstruktur-plugin
GenericName[de]=Strukturbaum-Modul
GenericName[es]=Complemento de estructura de árbol
GenericName[fr]=Module externe d'arborescence de structures
GenericName[it]=Estensione struttura ad albero
GenericName[nds]=Struktuurboom-Moduul
GenericName[nl]=Boomstructuur-plugin
GenericName[pt]='Plugin' da Árvore de Estrutura
GenericName[pt_BR]=Plug-in da árvore de estrutura
GenericName[sv]=Insticksprogram med strukturträd
GenericName[uk]=Додаток дерева структури
GenericName[x-test]=xxStructure Tree Pluginxx
GenericName[zh_CN]=结构树插件
Comment=The Structure Tree is a view on the structure of the document.
Comment[da]=Træstrukturen er en visning af dokumentets struktur.
Comment[de]=Der Strukturbaum ist eine Ansicht der Struktur eines Dokuments.
Comment[es]=La estructura en árbol es una vista de la estructura del documento.
Comment[fr]=L'arborescence de structure est une vue sur la structure du document.
Comment[it]=La struttura ad albero è una vista della struttura del documento.
Comment[nds]=De Struktuurboom is en Ansicht vun de Dokmentstruktuur.
Comment[nl]=De Boomstructuur is een weergave van de structuur van het document
Comment[pt]=A Árvore da Estrutura é uma visão sobre a estrutura do documento.
Comment[pt_BR]=A árvore da estrutura é uma visão sobre a estrutura do documento.
Comment[sv]=Strukturträdet är en vy av dokumentets struktur.
Comment[uk]=Дерево структури — це панель перегляду структури документа.
Comment[x-test]=xxThe Structure Tree is a view on the structure of the document.xx
Comment[zh_CN]=结构树可以查看文档的结构。
Icon=view_tree
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevstructuretree
X-KDE-PluginInfo-Name=KDevStructureTree
X-KDevelop-Version=10
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
X-KDevelop-Mode=GUI
