[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevStructureTree
Name[bs]=KDevStructureTree
Name[ca]=KDevStructureTree
Name[ca@valencia]=KDevStructureTree
Name[da]=KDevStructureTree
Name[de]=KDevStructureTree
Name[en_GB]=KDevStructureTree
Name[es]=KDevStructureTree
Name[et]=KDevStructureTree
Name[fr]=KDevStructureTree
Name[ga]=KDevStructureTree
Name[gl]=KDevStructureTree
Name[hu]=KDevStructureTree
Name[it]=KDevStructureTree
Name[nds]=Struktuurboom för KDevelop
Name[nl]=KDevStructureTree
Name[pl]=KDevDrzewoStruktury
Name[pt]=KDevStructureTree
Name[pt_BR]=KDevStructureTree
Name[sk]=KDevStructureTree
Name[sv]=Kdevelop strukturträd
Name[uk]=KDevStructureTree
Name[x-test]=xxKDevStructureTreexx
Name[zh_CN]=KDevStructureTree
GenericName=Structure Tree Plugin
GenericName[bs]=Struktura Stabla Plagin
GenericName[ca]=Connector de l'estructura en arbre
GenericName[ca@valencia]=Connector de l'estructura en arbre
GenericName[da]=Træstruktur-plugin
GenericName[de]=Strukturbaum-Modul
GenericName[en_GB]=Structure Tree Plugin
GenericName[es]=Complemento de estructura de árbol
GenericName[et]=Struktuuripuu plugin
GenericName[fr]=Module externe d'arborescence de structures
GenericName[ga]=Breiseán Crainn Struchtúir
GenericName[gl]=Complemento de árbore da estrutura
GenericName[hu]=Fastruktúra bővítmény
GenericName[it]=Estensione struttura ad albero
GenericName[nds]=Struktuurboom-Moduul
GenericName[nl]=Boomstructuur-plugin
GenericName[pl]=Wtyczka drzewa struktury
GenericName[pt]='Plugin' da Árvore de Estrutura
GenericName[pt_BR]=Plugin da árvore de estrutura
GenericName[sk]=Plugin stromu štruktúry
GenericName[sv]=Insticksprogram med strukturträd
GenericName[uk]=Додаток дерева структури
GenericName[x-test]=xxStructure Tree Pluginxx
GenericName[zh_CN]=结构树插件
Comment=The Structure Tree is a view on the structure of the document.
Comment[bs]=Struktura stabla je pogled na strukturu dokumenta.
Comment[ca]=L'estructura en arbre és una vista de l'estructura del document.
Comment[ca@valencia]=L'estructura en arbre és una vista de l'estructura del document.
Comment[da]=Træstrukturen er en visning af dokumentets struktur.
Comment[de]=Der Strukturbaum ist eine Ansicht der Struktur eines Dokuments.
Comment[en_GB]=The Structure Tree is a view on the structure of the document.
Comment[es]=La estructura en árbol es una vista de la estructura del documento.
Comment[et]=Struktuuripuu näitab dokumendi struktuuri.
Comment[fr]=L'arborescence de structures est une vue sur la structure du document.
Comment[gl]=A árbore da estrutura é unha vista da estrutura do documento.
Comment[hu]=A Fastruktúra a dokumentum struktúrájának egy megjelenítése.
Comment[it]=La struttura ad albero è una vista della struttura del documento.
Comment[nds]=De Struktuurboom is en Ansicht vun de Dokmentstruktuur.
Comment[nl]=De Boomstructuur is een weergave van de structuur van het document
Comment[pl]=Drzewo struktury jest widokiem na strukturę dokumentu.
Comment[pt]=A Árvore da Estrutura é uma visão sobre a estrutura do documento.
Comment[pt_BR]=A árvore da estrutura é uma visão sobre a estrutura do documento.
Comment[sk]=Strom štruktúry je pohľad na štruktúru dokumentu.
Comment[sv]=Strukturträdet är en vy av dokumentets struktur.
Comment[uk]=Дерево структури — це панель перегляду структури документа.
Comment[x-test]=xxThe Structure Tree is a view on the structure of the document.xx
Comment[zh_CN]=结构树可以查看文档的结构。
Icon=view_tree
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevstructuretree
X-KDE-PluginInfo-Name=KDevStructureTree
X-KDevelop-Version=12
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
X-KDevelop-Mode=GUI
