[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevTemplatesTree
Name[sv]=KDevelop TemplatesTree
Name[ta]=கெடெவ்TemplatesTree
Name[xx]=xxKDevTemplatesTreexx
GenericName=TemplatesTree Plugin
GenericName[br]=Lugent TemplatesTree
GenericName[da]=TemplatesTree plugin
GenericName[de]=Miniprogramm TemplatesTree
GenericName[es]=Plugin TemplatesTree
GenericName[et]=TemplatesTree plugin
GenericName[fr]=Module de TemplatesTree
GenericName[ga]=Breiseán TemplatesTree
GenericName[hu]=TemplatesTree-bővítőmodul
GenericName[it]=Plugin TemplatesTree
GenericName[nl]=TemplatesTree-plugin
GenericName[pl]=Wtyczka TemplatesTree
GenericName[pt]='Plugin' TemplatesTree
GenericName[pt_BR]=Plugin do TemplatesTree
GenericName[ru]=Модуль TemplatesTree
GenericName[sl]=Vstavek TemplatesTree
GenericName[sr]=TemplatesTree прикључак
GenericName[sr@Latn]=TemplatesTree priključak
GenericName[sv]=TemplatesTree insticksprogram
GenericName[uk]=Втулок TemplatesTree
GenericName[xx]=xxTemplatesTree Pluginxx
Comment=TemplatesTree Description
Comment[br]=Deskrivadur TemplatesTree
Comment[da]=TemplatesTree beskrivelse
Comment[de]=TemplatesTree Beschreibung
Comment[es]=Descripción de TemplatesTree
Comment[et]=TemplatesTree kirjeldus
Comment[eu]=TemplatesTree deskribapena
Comment[fr]=Description de TemplatesTree
Comment[hu]=TemplatesTree leírása
Comment[it]=Descrizione TemplatesTree
Comment[nl]=TemplatesTree omschrijving
Comment[pl]=Opis TemplatesTree
Comment[pt]=Descrição de %{APPNAME$}
Comment[pt_BR]=Descrição do TemplatesTree
Comment[ru]=Описание TemplatesTree
Comment[sl]=Opis TemplatesTree
Comment[sr]=Опис за TemplatesTree
Comment[sr@Latn]=Opis za TemplatesTree
Comment[sv]=TemplatesTree beskrivning
Comment[uk]=Опис TemplatesTree
Comment[xx]=xxTemplatesTree Descriptionxx
Icon=template_source
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevtemplatestree
X-KDevelop-Version=3
X-KDevelop-Properties=Quanta,Quanta-TemplatesTree
