[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevTemplatesTree
Name[it]=Albero dei modelli
Name[ne]=केडीई विकास टेम्प्लेटको ट्रि
Name[nl]=KDev-sjablonenboomstrutuur
Name[sv]=Kdevelop mallträd
Name[tr]=KDevŞablonAğacı
Name[x-test]=xxKDevTemplatesTreexx
GenericName=TemplatesTree Plugin
GenericName[ca]=Connector TemplatesTree
GenericName[da]=TemplatesTree-plugin
GenericName[de]=Vorlagenbaum-Modul
GenericName[el]=Πρόσθετο δέντρου προτύπων
GenericName[es]=Complemento TemplatesTree
GenericName[et]=Mallipuu plugin
GenericName[fr]=Module TemplatesTree
GenericName[ga]=Breiseán TemplatesTree
GenericName[gl]=Extensión TemplatesTree
GenericName[it]=Plugin per l'albero dei modelli
GenericName[ko]=템플릿 트리 플러그인
GenericName[nds]=Vörlagenboom-Moduul
GenericName[ne]=टेम्प्लेटको ट्रि प्लगइन
GenericName[nl]=Slablonenboomstructuur-plugin
GenericName[pa]=TemplatesTree ਪਲੱਗਇਨ
GenericName[pl]=Wtyczka Drzewo szablonów
GenericName[pt]='Plugin' da Árvore de Modelos
GenericName[pt_BR]=Plug-in da árvore de modelos
GenericName[sv]=Insticksprogram för mallträd
GenericName[th]=ปลั๊กอิน TemplatesTree
GenericName[tr]=ŞablonAğacı Eklentisi
GenericName[uk]=Втулок TemplatesTree
GenericName[x-test]=xxTemplatesTree Pluginxx
GenericName[zh_CN]=模板树插件
GenericName[zh_TW]=樣本樹狀圖外掛程式
Comment=TemplatesTree Description
Comment[ca]=Descripció de TemplatesTree
Comment[da]=TemplatesTree-beskrivelse
Comment[de]=Vorlagenbaum-Beschreibung
Comment[el]=Περιγραφή δέντρου προτύπων
Comment[es]=Descripción de TemplatesTree
Comment[et]=Mallipuu kirjeldus
Comment[fr]=Description de TemplatesTree 
Comment[ga]=Cur Síos TemplatesTree
Comment[gl]=Descrición de TemplatesTree
Comment[it]=Albero dei modelli
Comment[ko]=템플릿 트리 설명
Comment[nds]=Beschrieven för Vörlagenboom
Comment[ne]=टेम्प्लेटको ट्रि वर्णन
Comment[nl]=Beschrijving van slablonenboomstructuur
Comment[pa]=TemplatesTree ਵੇਰਵਾ
Comment[pt]=Descrição da Árvore de Modelos
Comment[pt_BR]=Descrição da árvore de modelos
Comment[sv]=Beskrivning av mallträd
Comment[th]=รายละเอียด TemplatesTree
Comment[tr]=ŞablonAğacı Açıklaması
Comment[uk]=Опис TemplatesTree
Comment[x-test]=xxTemplatesTree Descriptionxx
Comment[zh_CN]=模板树插件的描述
Comment[zh_TW]=樣本樹狀圖描述
Icon=template_source
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevtemplatestree
X-KDE-PluginInfo-Name=KDevTemplatesTree
X-KDevelop-Version=6
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
X-KDevelop-Mode=GUI
