[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevTemplatesTree
Name[x-test]=xxKDevTemplatesTreexx
GenericName=TemplatesTree Plugin
GenericName[x-test]=xxTemplatesTree Pluginxx
Comment=TemplatesTree Description
Comment[x-test]=xxTemplatesTree Descriptionxx
Icon=template_source
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevtemplatestree
X-KDE-PluginInfo-Name=KDevTemplatesTree
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta,Quanta-TemplatesTree
