[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for Crossfire
Comment[da]=Dette plugin giver en brugerflade til Crossfire
Comment[en_GB]=This plugin provides a frontend for Crossfire
Comment[es]=Este complemento proporciona una interfaz para Crossfire
Comment[et]=Crossfire'i kasutajaliidese plugin
Comment[fr]=Ce module externe fournit une interface pour Crossfire
Comment[it]=Questa estensione fornisce un interfaccia per Crossfire
Comment[nl]=Deze plugin levert een frontend voor Crossfire
Comment[pl]=Wtyczka ta dostarcza interfejs dla Crossfire
Comment[pt]=Este 'plugin' oferece uma interface para o Crossfire
Comment[pt_BR]=Este plugin oferece uma interface para o Crossfire
Comment[sv]=Insticksprogrammet tillhandahåller ett gränssnitt för Crossfire
Comment[uk]=Цей додаток є оболонкою до Crossfire
Comment[x-test]=xxThis plugin provides a frontend for Crossfirexx
Name=Crossfire Support
Name[da]=Crossfire-understøttelse
Name[en_GB]=Crossfire Support
Name[es]=Implementación de Crossfire
Name[et]=Crossfire'i toetus
Name[fr]=Prise en charge de Crossfire
Name[it]=Supporto crossfire
Name[nl]=Ondersteuning van Crossfire
Name[pl]=Obsługa Crossfire
Name[pt]=Suporte para o Crossfire
Name[pt_BR]=Suporte ao Crossfire
Name[sv]=Crossfire-stöd
Name[uk]=Підтримка Crossfire
Name[x-test]=xxCrossfire Supportxx
Name[zh_CN]=Crossfire 支持
GenericName=Debugger Frontend
GenericName[cs]=Rozhraní pro ladicí nástroj
GenericName[da]=Fejlsøgningsbrugerflade
GenericName[de]=Oberfläche für Debugger
GenericName[en_GB]=Debugger Frontend
GenericName[es]=Interfaz del depurador
GenericName[et]=Siluri kasutajaliides
GenericName[fr]=Interface du débogueur
GenericName[ga]=Comhéadan Dífhabhtóra
GenericName[it]=Interfaccia al debugger
GenericName[nl]=Frontend voor debugger
GenericName[pl]=Interfejs do debuggera
GenericName[pt]=Interface do Depurador
GenericName[pt_BR]=Interface do depurador
GenericName[sv]=Avlusargränssnitt
GenericName[ug]=سازلىغۇچ ئالدى ئۇچى
GenericName[uk]=Клієнтська програма зневадника
GenericName[x-test]=xxDebugger Frontendxx
GenericName[zh_CN]=调试器前端

Icon=debugger
X-KDE-Library=kdevcrossfire
X-KDevelop-Category=Global
X-KDevelop-Version=12
X-KDE-PluginInfo-Name=kdevcrossfire
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDevelop/Plugin
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
X-KDevelop-Mode=GUI
