[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for Crossfire
Comment[pt]=Este 'plugin' oferece uma interface para o Crossfire
Comment[pt_BR]=Este plugin oferece uma interface para o Crossfire
Comment[uk]=Цей додаток є оболонкою до Crossfire
Comment[x-test]=xxThis plugin provides a frontend for Crossfirexx
Name=Crossfire Support
Name[pt]=Suporte para o Crossfire
Name[pt_BR]=Suporte ao Crossfire
Name[uk]=Підтримка Crossfire
Name[x-test]=xxCrossfire Supportxx
GenericName=Debugger Frontend
GenericName[pt]=Interface do Depurador
GenericName[pt_BR]=Interface do depurador
GenericName[uk]=Клієнтська програма зневадника
GenericName[x-test]=xxDebugger Frontendxx

Icon=debugger
X-KDE-Library=kdevcrossfire
X-KDevelop-Category=Global
X-KDevelop-Version=10
X-KDE-PluginInfo-Name=kdevcrossfire
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDevelop/Plugin
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
X-KDevelop-Mode=GUI
