[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevQuantaFilesTree
Name[en_GB]=KDevQuantaFilesTree
Name[nl]=Bestandenstructuur (Quanta)
Name[pt]=KDevQuantaFilesTree
Name[pt_BR]=KDevQuantaFilesTree
Name[sv]=Kdevelop Quanta-filträd
Name[uk]=KDevQuantaFilesTree
Name[x-test]=xxKDevQuantaFilesTreexx
GenericName=Quanta Files Tree Plugin
GenericName[en_GB]=Quanta Files Tree Plugin
GenericName[nl]=Plugin voor bestandenstructuur in Quanta
GenericName[pt]='Plugin' da Árvore de Ficheiros do Quanta
GenericName[pt_BR]=Plug-in de hierarquia de arquivos do Quanta
GenericName[sv]=Insticksprogram för Quantas filträd
GenericName[uk]=Додаток дерева файлів Quanta
GenericName[x-test]=xxQuanta Files Tree Pluginxx
Comment=The Files Tree provides an interface to work with your filesystem
Comment[en_GB]=The Files Tree provides an interface to work with your filesystem
Comment[nl]=De bestandenstructuur biedt een interface waarmee u met uw bestandssysteem kunt werken
Comment[pt]=A Árvore de Ficheiros oferece uma interface para lidar com o seu sistema de ficheiros
Comment[pt_BR]=A árvore hierárquica de arquivos oferece uma interface para lidar com o seu sistema de arquivos
Comment[sv]=Filträdet tillhandahåller ett gränssnitt för att arbeta med filsystemet
Comment[uk]=Дерево файлів надає інтерфейс для роботи з файловою системою
Comment[x-test]=xxThe Files Tree provides an interface to work with your filesystemxx
Icon=system
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevquantafilestree
X-KDE-PluginInfo-Name=KDevQuantaFilesTree
X-KDevelop-Version=7
X-KDevelop-Mode=GUI
