[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevQuantaFilesTree
GenericName=Quanta Files Tree Plugin
Comment=The Files Tree provides an interface to work with your filesystem
Icon=system
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevquantafilestree
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta,Quanta-FilesTree
