[Desktop Entry]
Encoding=UTF-8
Name=KXsldbg
Name[sv]=Kxsldbg
Name[xx]=xxKXsldbgxx
GenericName=XSLT Debugger
GenericName[ca]=Depurador XSLT
GenericName[cs]=XSLT debugger
GenericName[da]=XSLT-Fejlsøger
GenericName[de]=XSLT-Debugger
GenericName[es]=Depurador XSLT
GenericName[et]=XSLT silur
GenericName[fr]=Débogueur XSLT
GenericName[gl]=Depuradora de XSLT
GenericName[hi]=XSLT डिबगर
GenericName[hu]=XSLT-nyomkövető
GenericName[is]=XSLT Aflúsari
GenericName[it]=Debugger per XSLT
GenericName[ja]=XSLT デバッガ
GenericName[nl]=XSLT-debugger
GenericName[pl]=Debuger XSLT
GenericName[pt]=Depuração de XSLT
GenericName[pt_BR]=Depurador XSLT
GenericName[ru]=Отладчик XSLT
GenericName[sl]=Razhroščevalnik XSLT
GenericName[sr]=XSLT отклањач грешака
GenericName[sr@Latn]=XSLT otklanjač grešaka
GenericName[sv]=XSLT-felsökare
GenericName[ta]=XSLT வழு நீக்குபவர்
GenericName[zh_CN]=XSLT调试器
Exec=kxsldbg %i %m -caption "%c"
Icon=kxsldbg
Type=Application
DocPath=kxsldbg/index.html
Terminal=0
