[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevQuantaProject
GenericName=Quantaproject Plugin
Comment=QuantaProject Description
Icon=quanta
ServiceTypes=KDevelop/Project
I
X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevquantaproject
X-KDevelop-Version=4
X-KDevelop-Properties=
