[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevQuantaProject
Name[es]=KDevQuantaProject
Name[nds]=Quanta-Projekt för KDevelop
Name[pt]=KDevQuantaProject
Name[sv]=Kdevelop Quanta-projekt
Name[uk]=KDevQuantaProject
Name[x-test]=xxKDevQuantaProjectxx
GenericName=Quantaproject Plugin
GenericName[es]=Complemento Quantaproject
GenericName[nds]=Moduul Quanta-Projekt
GenericName[pt]='Plugin' de Projectos do Quanta
GenericName[sv]=Insticksprogram för Quanta-projekt
GenericName[uk]=Додаток проектів Quanta
GenericName[x-test]=xxQuantaproject Pluginxx
Comment=QuantaProject Description
Comment[es]=Descripción de QuantaProject
Comment[nds]=Beschrieven för Quanta-Projekt
Comment[pt]=Descrição dos Projectos do Quanta
Comment[sv]=Beskrivning av Quanta-projekt
Comment[uk]=Опис QuantaProject
Comment[x-test]=xxQuantaProject Descriptionxx
Icon=quanta
X-KDE-ServiceTypes=KDevelop/Project

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevquantaproject
X-KDE-PluginInfo-Name=KDevQuantaProject
X-KDevelop-Version=10
X-KDevelop-Properties=
