[Desktop Entry]
Icon=go-up
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_upload
X-KDE-FactoryName=kcm_kdev_upload
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevUpload
X-KDE-CfgDlgHierarchy=GENERAL

Name=Upload Profiles
Name[ca]=Perfils de pujada
Name[cs]=Odeslat profily
Name[de]=Upload-Profile
Name[en_GB]=Upload Profiles
Name[es]=Perfiles de envío
Name[et]=Üleslaadimisprofiilid
Name[ga]=Próifílí Uasluchtaithe
Name[pt]=Perfis de Envio
Name[pt_BR]=Perfis de envio
Name[sv]=Uppladdningsprofiler
Name[uk]=Вивантажити профілі
Name[x-test]=xxUpload Profilesxx
Name[zh_TW]=上傳設定檔
Comment=Configure Upload Profiles
Comment[ca]=Configura els perfils de pujada
Comment[de]=Upload-Profile einrichten
Comment[en_GB]=Configure Upload Profiles
Comment[es]=Configurar los perfiles de envío
Comment[et]=Üleslaadimisprofiilide seadistamine
Comment[ga]=Cumraigh Próifílí Uasluchtaithe
Comment[pt]=Configurar os Perfis de Envio
Comment[pt_BR]=Configura os perfis de envio
Comment[sv]=Anpassa uppladdningsprofiler
Comment[uk]=Налаштувати вивантаження профілів
Comment[x-test]=xxConfigure Upload Profilesxx
Comment[zh_TW]=設定上傳設定檔
