[Desktop Entry]
Icon=go-up
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_upload
X-KDE-FactoryName=kcm_kdev_upload
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevUpload
X-KDE-CfgDlgHierarchy=GENERAL

Name=Upload Profiles
Name[uk]=Вивантажити профілі
Comment=Configure Upload Profiles
Comment[uk]=Налаштувати вивантаження профілів
