[Desktop Entry]
Icon=go-up
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_upload
X-KDE-FactoryName=kcm_kdev_upload
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevUpload
X-KDE-CfgDlgHierarchy=GENERAL

Name=Upload Profiles
Name[ca]=Perfils de pujada
Name[da]=Upload-profiler
Name[de]=Upload-Profile
Name[el]=Αποστολή προφίλ
Name[es]=Perfiles de envío
Name[et]=Üleslaadimisprofiilid
Name[fr]=Envoi des profils
Name[ga]=Próifílí Uasluchtaithe
Name[gl]=Perfís de envío
Name[hne]=प्रोफाइल अपलोड करव
Name[it]=Carica profili
Name[ko]=프로필 업로드
Name[nds]=Profilen hoochladen
Name[nl]=Profielen uploaden
Name[pa]=ਪਰੋਫਾਇਲ ਅੱਪਲੋਡ
Name[pl]=Wysyłanie profili
Name[pt]=Perfis de Envio
Name[pt_BR]=Perfis de envio
Name[ro]=Încarcă profiluri
Name[sv]=Uppladdningsprofiler
Name[th]=อัพโหลดโพรไฟล์
Name[tr]=Gönderme Profilleri
Name[uk]=Вивантажити профілі
Name[x-test]=xxUpload Profilesxx
Name[zh_CN]=上传配置文件
Name[zh_TW]=上傳設定檔
Comment=Configure Upload Profiles
Comment[ca]=Configura els perfils de pujada
Comment[da]=Indstil upload-profiler
Comment[de]=Upload-Profile einrichten
Comment[el]=Ρύθμιση αποστολής προφίλ
Comment[es]=Configurar los perfiles de envío
Comment[et]=Üleslaadimisprofiilide seadistamine
Comment[fr]=Configurer l'envoi des profils
Comment[ga]=Cumraigh Próifílí Uasluchtaithe
Comment[gl]=Configura os perfís de envío
Comment[it]=Configura il caricamento dei profili
Comment[ko]=프로필 업로드 설정
Comment[nds]=Hoochlaad-Profilen instellen
Comment[nl]=Instellen van profielen uploaden
Comment[pl]=Konfiguracja wysyłania profili
Comment[pt]=Configurar os Perfis de Envio
Comment[pt_BR]=Configurar os perfis de envio
Comment[sv]=Anpassa uppladdningsprofiler
Comment[th]=ตั้งค่าการอัพโหลดโพรไฟล์
Comment[tr]=Gönderme Profillerini Yapılandır
Comment[uk]=Налаштувати вивантаження профілів
Comment[x-test]=xxConfigure Upload Profilesxx
Comment[zh_CN]=配置上传配置文件
Comment[zh_TW]=設定上傳設定檔
