<!DOCTYPE kpartgui>
<kpartgui name="kdevxdebug" library="kdevxdebug" version="1">
<MenuBar>
 <Menu name="run">
  <text context="@title:menu">Run</text>

  <Action name="debug_run" group="run_operations"/>

  <Separator group="debug"/>
  <Action name="debug_stepinto" group="debug"/>

 </Menu>
</MenuBar>

<ToolBar name="debugToolBar">
  <text>XDebug Debugger Toolbar</text>
  <Action name="debug_run"/>
  <Action name="debug_stepinto"/>
  <WeakSeparator/>
</ToolBar>


</kpartgui>

