[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for Crossfire
Comment[ca]=Aquest connector proveeix d'un frontal per Crossfire
Comment[ca@valencia]=Este connector proveeix d'un frontal per Crossfire
Comment[en_GB]=This plugin provides a frontend for Crossfire
Comment[es]=Este complemento proporciona una interfaz para Crossfire
Comment[fr]=Ce module externe fournit une interface graphique pour Crossfire
Comment[it]=Questa estensione fornisce un'interfaccia per Crossfire
Comment[pt]=Este 'plugin' oferece uma interface para o Crossfire
Comment[pt_BR]=Este plugin oferece uma interface para o Crossfire
Comment[sv]=Insticksprogrammet tillhandahåller ett gränssnitt för Crossfire
Comment[uk]=Цей додаток є оболонкою до Crossfire
Comment[x-test]=xxThis plugin provides a frontend for Crossfirexx
Name=Crossfire Support
Name[ca]=Implementació de Crossfire
Name[ca@valencia]=Implementació de Crossfire
Name[en_GB]=Crossfire Support
Name[es]=Implementación de Crossfire
Name[fr]=Prise en charge de Crossfire
Name[it]=Supporto per Crossfire
Name[nds]=Ünnerstütten för Crossfire
Name[pt]=Suporte ao Crossfire
Name[pt_BR]=Suporte ao Crossfire
Name[sv]=Crossfire-stöd
Name[uk]=Підтримка Crossfire
Name[x-test]=xxCrossfire Supportxx
GenericName=Debugger Frontend
GenericName[ca]=Frontal del depurador
GenericName[ca@valencia]=Frontal del depurador
GenericName[de]=Oberfläche für Debugger
GenericName[en_GB]=Debugger Frontend
GenericName[es]=Interfaz del depurador
GenericName[et]=Siluri kasutajaliides
GenericName[fr]=Interface du débogueur
GenericName[ga]=Comhéadan Dífhabhtóra
GenericName[gl]=Interface para o depurador
GenericName[it]=Interfaccia debugger
GenericName[ja]=デバッガのフロントエンド
GenericName[nds]=Fehlersöker-Böversiet
GenericName[pt]=Interface do Depurador
GenericName[pt_BR]=Interface do depurador
GenericName[sv]=Avlusargränssnitt
GenericName[tr]=Hata Ayıklayıcı Önucu
GenericName[uk]=Клієнтська програма зневадника
GenericName[x-test]=xxDebugger Frontendxx

Icon=debugger
X-KDE-Library=kdevcrossfire
X-KDevelop-Category=Global
X-KDevelop-Version=8
X-KDE-PluginInfo-Name=kdevcrossfire
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDevelop/Plugin
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
X-KDevelop-Mode=GUI
