[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevUpload
GenericName=Upload Plugin
GenericName[ga]=Breiseán Uasluchtaithe
GenericName[pt]='Plugin' de Envio
GenericName[pt_BR]='Plugin' de Envio
GenericName[tr]=Gönderme Eklentisi
GenericName[uk]=Втулок вивантаження
GenericName[zh_TW]=上傳外掛程式
Comment=Upload Projectfiles to remote server
Comment[ga]=Uasluchtaigh comhaid tionscadail go cianfhreastalaí
Comment[pt]=Enviar os ficheiros de projecto para um servidor remoto
Comment[pt_BR]=Enviar os ficheiros de projecto para um servidor remoto
Comment[tr]=Proje dosyalarını uzak sunuculara gönderir
Comment[uk]=Вивантаження файлів проекту на віддалений сервер
Comment[zh_TW]=上傳專案檔到遠端伺服器
Icon=go-up
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
#X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=niko.sams@gmail.com
X-KDevelop-Plugin-Copyright=(C) by Niko Sams

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevupload
X-KDE-PluginInfo-Name=KDevUpload
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta-Upload
X-KDevelop-IRequired=org.kdevelop.IOutputView
