[Desktop Entry]
Type=Service
Exec=blubb
Comment=This plugin provides a frontend for XDebug
Comment[ga]=Soláthraíonn an breiseán seo comhéadan ar XDebug
Comment[gl]=Esta extensión fornece unha interface para XDebug
Comment[pt]=Este 'plugin' oferece uma interface para o XDebug
Comment[pt_BR]=Este 'plugin' oferece uma interface para o XDebug
Comment[sv]=Insticksprogrammet tillhandahåller ett gränssnitt för Xdebug
Comment[uk]=Цей додаток є оболонкою до XDebug
Comment[x-test]=xxThis plugin provides a frontend for XDebugxx
Name=XDebug Support
Name[ga]=Tacaíocht XDebug
Name[gl]=Soporte de XDebug
Name[pt]=Suporte ao XDebug
Name[pt_BR]=Suporte ao XDebug
Name[sv]=Xdebug-stöd
Name[uk]=ПІдтримка XDebug
Name[x-test]=xxXDebug Supportxx
GenericName=Debugger Frontend
GenericName[de]=Oberfläche für Debugger
GenericName[es]=Interfaz del depurador
GenericName[et]=Siluri kasutajaliides
GenericName[fr]=Interface du débogueur
GenericName[ga]=Comhéadan Dífhabhtóra
GenericName[gl]=Interface para o depurador
GenericName[ja]=デバッガのフロントエンド
GenericName[nds]=Fehlersöker-Böversiet
GenericName[pt]=Interface do Depurador
GenericName[pt_BR]=Interface do Depurador
GenericName[sv]=Avlusargränssnitt
GenericName[tr]=Hata Ayıklayıcı Önucu
GenericName[uk]=Клієнтська програма зневадника
GenericName[x-test]=xxDebugger Frontendxx

Icon=debugger
X-KDE-Library=kdevxdebug
X-KDevelop-Category=Global
X-KDevelop-Version=6
X-KDE-PluginInfo-Name=kdevxdebug
X-KDE-PluginInfo-License=GPL
ServiceTypes=KDevelop/Plugin
X-KDevelop-Interfaces=org.kdevelop.IRunProvider
X-KDevelop-Mode=GUI
