[Desktop Entry]
Encoding=UTF-8
Name=Quanta Plus
Name[fa]=کوانتا پلاس (Quanta Plus)
Name[hi]=क्वांटा प्लस
Name[xx]=xxQuanta Plusxx
Exec=quanta
Icon=quanta
Type=Application
MimeType=text/html
DocPath=quanta/index.html
GenericName=Web Development Environment
GenericName[ca]=Entorn de desenvolupament web
GenericName[cs]=Vývojové prostředí pro web
GenericName[da]=Webudviklermiljø
GenericName[de]=Web-Entwicklungsumgebung
GenericName[el]=Περιβάλλον ανάπτυξης ιστοσελίδων
GenericName[es]=Entorno de desarrollo Web
GenericName[et]=Veebiarenduskeskkond
GenericName[fr]=Environnement de développement Internet
GenericName[gl]=Entorno de desenvolvemento de páxinas web
GenericName[hi]=वेब डेवलपमेंट वातावरण
GenericName[hu]=Webfejlesztő
GenericName[is]=Vefþróunarumhverfi
GenericName[it]=Ambiente per lo sviluppo Web
GenericName[ja]=Web 開発環境
GenericName[nl]=Omgeving voor webdevelopment
GenericName[pl]=Środowisko do tworzenia stron WWW
GenericName[pt]=Ambiente de Desenvolvimento Web
GenericName[pt_BR]=Ambiente de Desenvolvimento Web
GenericName[ru]=Среда для web-разработки
GenericName[sl]=Razvijalsko spletno okolje
GenericName[sr]=Окружење за развој веб апликација
GenericName[sr@Latn]=Okruženje za razvoj veb aplikacija
GenericName[sv]=Webbutvecklingsmiljö
GenericName[ta]=வலை உருவாக்கும் சூழ்நிலை
GenericName[zh_CN]=网页开发环境
Comment=Web Development Environment
Comment[ca]=Entorn de desenvolupament web
Comment[cs]=Vývojové prostředí pro web
Comment[da]=Webudviklermiljø
Comment[de]=Web-Entwicklungsumgebung
Comment[el]=Περιβάλλον ανάπτυξης ιστοσελίδων
Comment[es]=Entorno de desarrollo Web
Comment[et]=Veebiarenduskeskkond
Comment[fa]=محیط برنامه‌نویسی اینترنتی
Comment[fr]=Environnement de développement Internet
Comment[gl]=Entorno de desenvolvemento de páxinas web
Comment[hi]=वेब डेवलपमेंट वातावरण
Comment[hu]=Webfejlesztő környezet
Comment[is]=Vefþróunarumhverfi
Comment[it]=Ambiente per lo sviluppo Web
Comment[ja]=Web 開発環境
Comment[nl]=Omgeving voor webdevelopment
Comment[pl]=Środowisko do tworzenia stron WWW
Comment[pt]=Ambiente de desenvolvimento Web
Comment[pt_BR]=Ambiente de Desenvolvimento Web
Comment[ru]=Среда для web-разработки
Comment[sl]=Razvijalsko spletno okolje
Comment[sr]=Окружење за развој веб апликација
Comment[sr@Latn]=Okruženje za razvoj veb aplikacija
Comment[sv]=Webbutvecklingsmiljö
Comment[ta]=வலை உருவாக்கும் சூழ்நிலை
Comment[xx]=xxWeb Development Environmentxx
Comment[zh_CN]=网页开发环境
Categories=Qt;KDE;Development
