[Desktop Entry]
Encoding=UTF-8
Name=Quanta Plus
Name[cs]=Quanta Plus
Name[da]=Quanta Plus
Name[de]=Quanta Plus
Name[en_GB]=Quanta Plus
Name[es]=Quanta Plus
Name[et]=Quanta Plus
Name[fr]=Quanta Plus
Name[it]=Quanta Plus
Name[nds]=Quanta Plus
Name[nl]=Quanta Plus
Name[pt]=Quanta Plus
Name[pt_BR]=Quanta Plus
Name[sv]=Quanta plus
Name[uk]=Quanta Plus
Name[x-test]=xxQuanta Plusxx
Name[zh_CN]=Quanta Plus
Exec=quanta
Icon=quanta
Type=Application
MimeType=text/html
DocPath=quanta/index.html
GenericName=Web Development Environment
GenericName[cs]=Webové vývojové prostředí
GenericName[da]=Webudviklingsmiljø
GenericName[de]=Web-Entwicklungsumgebung
GenericName[en_GB]=Web Development Environment
GenericName[es]=Entorno de desarrollo web
GenericName[et]=Veebiarenduskeskkond
GenericName[fr]=Environnement de développement web
GenericName[it]=Ambiente per lo sviluppo Web
GenericName[nds]=Nett-Entwickelnümgeven
GenericName[nl]=Web-ontwikkelomgeving
GenericName[pt]=Ambiente de Desenvolvimento Web
GenericName[pt_BR]=Ambiente de desenvolvimento na Web
GenericName[sv]=Webbutvecklingsmiljö
GenericName[uk]=Середовище для веброзробки
GenericName[x-test]=xxWeb Development Environmentxx
GenericName[zh_CN]=网页开发环境
Comment=Web Development Environment
Comment[cs]=Webové vývojové prostředí
Comment[da]=Webudviklingsmiljø
Comment[de]=Web-Entwicklungsumgebung
Comment[en_GB]=Web Development Environment
Comment[es]=Entorno de desarrollo web
Comment[et]=Veebiarenduskeskkond
Comment[fr]=Environnement de développement web
Comment[it]=Ambiente per lo sviluppo Web
Comment[nds]=Nett-Entwickelnümgeven
Comment[nl]=Web-ontwikkelomgeving
Comment[pt]=Ambiente de Desenvolvimento na Web
Comment[pt_BR]=Ambiente de desenvolvimento na Web
Comment[sv]=Webbutvecklingsmiljö
Comment[uk]=Середовище для веброзробки
Comment[x-test]=xxWeb Development Environmentxx
Comment[zh_CN]=网页开发环境
Categories=Qt;KDE;Development
