[Desktop Entry]
Encoding=UTF-8
Name=Quanta Plus
Exec=quanta
Icon=quanta
Type=Application
MimeType=text/html
Comment=Web Development Environment
Comment[ru]=Среда разработки веб-проектов
