[Desktop Entry]
Icon=server-database
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_sqlconnections
X-KDE-FactoryName=kcm_kdev_sqlconnections
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject
X-KDE-CfgDlgHierarchy=GENERAL

Name=DB Connections
Name[da]=DB-forbindelser
Name[de]=DB-Verbindungen
Name[en_GB]=DB Connections
Name[es]=Conexiones de bases de datos
Name[et]=Andmebaasiühendused
Name[fr]=Connexions aux bases de données
Name[it]=Connessione DB
Name[nl]=DB-verbindingen
Name[pl]=Połączenia DB
Name[pt]=Ligações a BD
Name[pt_BR]=Conexões a BDs
Name[sv]=Databasanslutningar
Name[uk]=З’єднання з базою даних
Name[x-test]=xxDB Connectionsxx
Name[zh_CN]=数据库连接
Comment=Configure Database Connections
Comment[da]=Indstil databaseforbindelser
Comment[de]=Datenbank-Verbindungen einrichten
Comment[en_GB]=Configure Database Connections
Comment[es]=Configurar las conexiones de bases de datos
Comment[et]=Andmebaasiühenduste seadistamine
Comment[fr]=Configure les connexions aux bases de données
Comment[it]=Configura le connessione del database
Comment[nl]=Databaseverbindingen instellen
Comment[pl]=Konfiguruj połączenia bazy danych
Comment[pt]=Configurar as Ligações a Bases de Dados
Comment[pt_BR]=Configurar as conexões aos bancos de dados
Comment[sv]=Anpassa databasanslutningar
Comment[uk]=Налаштування з’єднань з базою даних
Comment[x-test]=xxConfigure Database Connectionsxx
Comment[zh_CN]=配置数据库连接
