[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Quanta Core
Name=KDevQuantaCore
GenericName=Quanta Core
ServiceTypes=KDevelop/Plugin,KDevelop/Quanta
X-KDE-Library=libkdevquantacore
X-KDevelop-Version=4
X-KDevelop-Scope=Global
X-KDevelop-Properties=Quanta,QuantaCore

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia
