[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=Xml catalog user interface
Name[en_GB]=Xml catalogue user interface
Name[es]=Interfaz de usuario de catálogo XML
Name[pt]=Interface de utilizador do catálogo de XML
Name[pt_BR]=Interface do usuário para catálogo XML
Name[sv]=Användargränssnitt för XML-katalog
Name[uk]=Інтерфейс користувача до каталогу XML
GenericName=Xml catalog user interface
GenericName[en_GB]=Xml catalogue user interface
GenericName[es]=Interfaz de usuario de catálogo XML
GenericName[pt]=Interface de utilizador do catálogo de XML
GenericName[pt_BR]=Interface do usuário para catálogo XML
GenericName[sv]=Användargränssnitt för XML-katalog
GenericName[uk]=Інтерфейс користувача до каталогу XML
Comment=User interface to manage XML schemata and DTD documents
Comment[en_GB]=User interface to manage XML schemata and DTD documents
Comment[es]=Interfaz de usuario para gestionar esquemas XML y documentos DTD
Comment[pt]=Interface de utilizador para gerir esquemas de XML e documentos DTD
Comment[pt_BR]=Interface do usuário para gerenciar esquemas XML e documentos DTD
Comment[sv]=Användargränssnitt för att hantera XML-scheman och DTD-dokument
Comment[uk]=Інтерфейс користувача для керування схемами XML та документами DTD
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlcatalogui
X-KDE-PluginInfo-Name=kdevxmlcatalogui
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=8
X-KDevelop-Language=XML
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
