[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=DTD/Schema Catalog user interface
Name[pt]=Interface de utilizador do catálogo de DTD/esquemas
Name[uk]=Інтерфейс каталогу DTD/Schema
Name[x-test]=xxDTD/Schema Catalog user interfacexx
GenericName=Xml catalog user interface
GenericName[ca]=Interfície de l'usuari de catàleg Xml
GenericName[ca@valencia]=Interfície de l'usuari de catàleg Xml
GenericName[en_GB]=Xml catalogue user interface
GenericName[es]=Interfaz de usuario de catálogo XML
GenericName[et]=XML-kataloogi kasutajaliides
GenericName[fr]=Interface utilisateur du catalogue XML
GenericName[it]=Interfaccia utente catalogo Xml
GenericName[pt]=Interface de utilizador do catálogo de XML
GenericName[pt_BR]=Interface do usuário para catálogo XML
GenericName[sv]=Användargränssnitt för XML-katalog
GenericName[uk]=Інтерфейс користувача до каталогу XML
GenericName[x-test]=xxXml catalog user interfacexx
Comment=User interface to manage XML schemata and DTD documents
Comment[ca]=Interfície de l'usuari per gestionar esquemes XML i documents DTD
Comment[ca@valencia]=Interfície de l'usuari per gestionar esquemes XML i documents DTD
Comment[en_GB]=User interface to manage XML schemata and DTD documents
Comment[es]=Interfaz de usuario para gestionar esquemas XML y documentos DTD
Comment[et]=XML-skeemide ja DTD dokumentide haldamise kasutajaliides
Comment[fr]=Interface utilisateur pour gérer les schémas XML et les documents de DTD
Comment[it]=Interfaccia utente per la gestione di schemi XML e documenti DTD
Comment[pt]=Interface de utilizador para gerir esquemas de XML e documentos DTD
Comment[pt_BR]=Interface do usuário para gerenciar esquemas XML e documentos DTD
Comment[sv]=Användargränssnitt för att hantera XML-scheman och DTD-dokument
Comment[uk]=Інтерфейс користувача для керування схемами XML та документами DTD
Comment[x-test]=xxUser interface to manage XML schemata and DTD documentsxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlcatalogui
X-KDE-PluginInfo-Name=kdevxmlcatalogui
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=9
X-KDevelop-Language=XML
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
