[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=XML Validator
Name[en_GB]=XML Validator
Name[pt]=Validação de XML
Name[sv]=XML-validering
Name[uk]=Перевірка XML
GenericName=XML Validator
GenericName[en_GB]=XML Validator
GenericName[pt]=Validação de XML
GenericName[sv]=XML-validering
GenericName[uk]=Перевірка XML
Comment=Validates XML files against a DTD or schema
Comment[en_GB]=Validates XML files against a DTD or schema
Comment[pt]=Valida os ficheiros XML face a um DTD ou esquema
Comment[sv]=Validerar XML-filer med en DTD eller ett schema
Comment[uk]=Виконує перевірку файлів XML за DTD або вказаною схемою (schema)
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlvalidator
X-KDevelop-Version=7
X-KDE-PluginInfo-Name=kdevxmlvalidator
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-SupportedMimeTypes=text/xml,application/xml,application/xsd, application/xsd+xml, application/xslt+xml, application/wsdl, application/wsdl+xml
X-KDevelop-Mode=NoGUI
