[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevTemplatesTree
GenericName=TemplatesTree Plugin
Comment=TemplatesTree Description
Icon=template_source
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevtemplatestree
X-KDE-PluginInfo-Name=KDevTemplatesTree
X-KDevelop-Version=12
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
X-KDevelop-Mode=GUI
