[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=SGML Formatter
Name[da]=SGML-formateringsværktøj
Name[en_GB]=SGML Formatter
Name[es]=Formateador SGML
Name[et]=SGML-i vormindaja
Name[fr]=Outil de formatage SGML
Name[it]=Formattatore SGML
Name[pl]=Formatowanie SGML
Name[pt]=Formatação de SGML
Name[pt_BR]=Formatação de SGML
Name[sv]=SGML-formatering
Name[uk]=Форматування SGML
Name[x-test]=xxSGML Formatterxx
GenericName=XML Formatter
GenericName[da]=XML-formateringsværktøj
GenericName[en_GB]=XML Formatter
GenericName[es]=Formateador XML
GenericName[et]=XML-i vormindaja
GenericName[fr]=Outil de formatage XML
GenericName[it]=Formattatore XML
GenericName[pl]=Formatowanie XML
GenericName[pt]=Formatação de XML
GenericName[pt_BR]=Formatação de XML
GenericName[sv]=XML-formatering
GenericName[uk]=Форматування XML
GenericName[x-test]=xxXML Formatterxx
Comment=A plugin for formatting XML files
Comment[da]=Et plugin til formatering af XML-filer
Comment[en_GB]=A plugin for formatting XML files
Comment[es]=Un complemento para formatear archivos XML
Comment[et]=XML-failide vormindamise plugin
Comment[fr]=Un module externe pour formater des fichiers XML
Comment[it]=Un'estensione per la formattazione di file XML
Comment[pl]=Wtyczka dla formatowania plików XML
Comment[pt]=Um 'plugin' para formatar ficheiros XML
Comment[pt_BR]=Um plugin para formatar os arquivos em XML
Comment[sv]=Ett insticksprogram för att formatera XML-filer
Comment[uk]=Додаток для форматування файлів XML
Comment[x-test]=xxA plugin for formatting XML filesxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevsgmlformatter
X-KDevelop-Version=12
X-KDE-PluginInfo-Name=sgmlformatter
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-Language=Sgml
X-KDevelop-Interfaces=org.kdevelop.ISourceFormatter
X-KDevelop-SupportedMimeTypes=text/html,application/docbook+xml,application/xhtml+xml,application/xml,application/xslt+xml,application/xsd,application/wsdl+xml,application/x-wsdl
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn
