<!DOCTYPE kpartgui>
<kpartgui name="kdevsgmlformatter" version="1">
<MenuBar>
  <Menu name="edit" >
    <text context="@title:menu">Edit</text>
    <Action name="compact_sgmllanguagesupport" group="edit_formatting"/>
    <Action name="escape_sgmllanguagesupport" group="edit_formatting"/>
    <Action name="unescape_sgmllanguagesupport" group="edit_formatting"/>
  </Menu>
</MenuBar>
</kpartgui> 