[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=SGML Formatter
GenericName=XML Formatter
Comment=A plugin for formatting XML files
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevsgmlformatter
X-KDevelop-Version=11
X-KDE-PluginInfo-Name=sgmlformatter
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-Language=Sgml
X-KDevelop-Interfaces=org.kdevelop.ISourceFormatter
X-KDevelop-SupportedMimeTypes=text/html,application/docbook+xml,application/xhtml+xml,application/xml,application/xslt+xml,application/xsd,application/wsdl+xml,application/x-wsdl
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn
