[Desktop Entry]
Type=Service
Exec=kcmshell --caption %c %i khtml_behavior khtml_java_js khtml_fonts cookies cache proxy kcmcss crypto useragent khtml_plugins
Icon=konqueror
DocPath=konqueror/index.html
Name=Configure KHTML Browser Part
Name[ca]=Configura la part del fullejador KHTML
Name[cs]=Nastavení KHTML Part
Name[da]=Indstil KHTML browser-part
Name[de]=Einrichten der KHTML-Browserkomponente
Name[el]=Ρύθμιση του KHTML περιηγητή
Name[es]=Configurara la parte del navegador KHTML
Name[et]=KHTML brauseri komponendi seadistamine
Name[eu]=Konfiguratu KHTML arakatzailearen partea
Name[fa]=پیکربندی جزء مرورگر KHTML
Name[fi]=KHTML selaimen komponentti
Name[fr]=Configurer le composant de navigation KHTML
Name[gl]=Configurar a parte do navegador KHTML
Name[hu]=A KHTML böngészőobjektum beállításai
Name[is]=Stilla KHTML vafrahluti
Name[it]=Parte browser configura KHTML
Name[ja]=KHTML ブラウザ部を設定
Name[ka]=KHTML ბროუზერის ნაწილის კონფიგურაცია
Name[lt]=Konfigūruoti KHTML naršyklės dalį
Name[ms]=Selaraskan Bahagian Pelayar KHTML
Name[nds]=KHTML-Browserkomponent inrichten
Name[ne]=केडीई एचटीएमएल ब्राउजर भाग कन्फिगर गर्नुहोस्
Name[nl]=KHTML Browser Part configuratie
Name[pl]=Konfiguracja osadzalnej części przeglądarki KHTML
Name[pt]=Configurar a Parte de Navegação HTML
Name[pt_BR]=Configurar o Componente KHTML do Navegador
Name[ru]=Настроить компонент просмтра KHTML
Name[sk]=Nastaviť KHTML prehliadač Part
Name[sl]=Nastavite del brskalnika KHTML
Name[sr]=Део за подешавање KHTML прегледача
Name[sr@Latn]=Deo za podešavanje KHTML pregledača
Name[sv]=Anpassa delprogrammet för webbläsning KHTML
Name[ta]=KHTML உலாவி பகுதி உள்ளமை
Name[tg]=Танзими қисми браузери KHTML
Name[tr]=KHTML Tarayıcısı Parçasını Yapılandır
Name[uk]=Налаштувати компонент перегляду KHTML
Name[zh_CN]=配置 KHTML 浏览器部件
Name[zh_HK]=設定 KHTML 瀏覽器元件
Name[zh_TW]=設定 KHTML 瀏覽器 Part
