[Desktop Entry]
Type=Service
Exec=kcmshell4 --caption %c %i khtml_behavior khtml_java_js khtml_fonts cookies cache proxy kcmcss crypto useragent khtml_plugins
Icon=konqueror
X-DocPath=konqueror/index.html
Name=Configure KHTML Browser Part
Name[en_GB]=Configure KHTML Browser Part
Name[pt]=Configurar a Componente de Navegação HTML
Name[sv]=Anpassa delprogrammet för webbläsning KHTML
Name[uk]=Налаштувати компонент перегляду KHTML
Name[x-test]=xxConfigure KHTML Browser Partxx
