[Desktop Entry]
Type=Service
Exec=kcmshell4 --caption %c %i khtml_behavior khtml_java_js khtml_fonts cookies cache proxy kcmcss crypto useragent khtml_plugins
Icon=konqueror
X-DocPath=konqueror/index.html
Name=Configure KHTML Browser Part
Name[ca]=Configura la part KHTML del navegador
Name[ca@valencia]=Configura la part KHTML del navegador
Name[de]=Einrichten der KHTML-Browserkomponente
Name[en_GB]=Configure KHTML Browser Part
Name[es]=Configure la parte del navegador KHTML
Name[et]=KHTML brauseri komponendi seadistamine
Name[fr]=Configurer le composant navigateur KHTML
Name[ga]=Cumraigh Comhpháirt Brabhsálaí KHTML
Name[it]=Parte browser configura KHTML
Name[nds]=KHTML-Kiekerkomponent inrichten
Name[nl]=KHTML Browser Part configuratie
Name[pt]=Configurar a Componente de Navegação HTML
Name[pt_BR]=Configurar o componente KHTML do navegador
Name[sv]=Anpassa delprogrammet för webbläsning KHTML
Name[uk]=Налаштувати компонент перегляду KHTML
Name[x-test]=xxConfigure KHTML Browser Partxx
Name[zh_TW]=設定 KHTML 瀏覽器 Part
