[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevProjectTree
Name[it]=Albero dei progetti
Name[x-test]=xxKDevProjectTreexx
GenericName=ProjectTree Plugin
GenericName[el]=Πρόσθετο δέντρου έργου
GenericName[it]=Plugin per l'albero dei progetti
GenericName[x-test]=xxProjectTree Pluginxx
Comment=ProjectTree Description
Comment[el]=Περιγραφή δέντρου έργου
Comment[it]=Albero dei progetti
Comment[x-test]=xxProjectTree Descriptionxx
Icon=folder_green
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Scope=Project
X-KDE-Library=libkdevprojecttree
X-KDE-PluginInfo-Name=KDevProjectTree
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta,Quanta-ProjectTree
