[Desktop Entry]
Type=Service
Name=Gubed
Name[ta]=குபெட்
Comment=Quanta debugger plugin to interact with the Gubed PHP debugger, see http://gubed.sf.net
Comment[ar]=وظيفة إضافية لمدقق Quanta للتفاعل مع مدقق Gubed PHP, للمزيد من المعلومات راجع http://gubed.sf.net
Comment[ca]=Conector per a depurador de Quanta per interactuar amb el depurador Gubed PHP, consulteu http://gubed.sf.net
Comment[da]=Quanta fejlretter-plugin til at virke sammen med Gubed PHP fejlretter, se http://gubed.sf.net
Comment[de]=Debug-Komponente von Quanta für die Unterstützung des Gubed PHP-Debuggers. Näheres siehe http://gubed.sf.net
Comment[es]=Accesorio de depuración de Quanta, para interactuar con el depurador de PHP Gubed. Vea http://gubed.sf.net
Comment[et]=Quanta siluriplugin koostööks PHP siluriga Gubed (vaata http://gubed.sf.net)
Comment[fi]=Gubed PHP debuggerin plugin Quantan debuggeriin (katso http://gubed.sf.net)
Comment[fr]=Module de débogage de Quanta pour interagir avec le débogueur PHP Gubed ; consulter http://gubed.sf.net.
Comment[hu]=Quanta-nyomkövető (bővítőmodulként) a Gubed PHP-nyomkövetőhöz, lásd: http://gubed.sf.net
Comment[it]=Plugin debugger di Quanta per interagire con il debugger PHP Gubed, vedi http://gubed.sf.net
Comment[ja]=Gubed PHPデバッガと相互作用をするQuantaデバッガプラグイン。http://gubed.sf.net 参照のこと。
Comment[nl]=Quanta debugger plugin om te communiceren met de Gubed PHP debugger, zie http://gubed.sf.net
Comment[pl]=Wtyczka debuggera Quanty współpracująca z debuggerem PHP Gubed , patrz http://gubed.sf.net
Comment[pt]='Plugin' de Depuração do Quanta para interagir com o depurador de PHP Gubed, veja http://gubed.sf.net
Comment[pt_BR]=Plugin do debugger do Quanta para interagir com o debugger PHP Gubed, olhe http://gubed.sf.net
Comment[ru]=Модуль отладчика Quanta для связи с Gubed, отладчиком PHP, см. http://gubed.sf.net
Comment[sl]=Vstavek razhroščevanja v Quanti, ki sodeluje z razhroščevalnikom Gubed PHP, glejte http://gubed.sf.net
Comment[sr]=Исправљачки прикључак Quanta-е за интеракцију са исправљачем Gubed PHP, погледајте http://gubed.sf.net
Comment[sr@Latn]=Ispravljački priključak Quanta-e za interakciju sa ispravljačem Gubed PHP, pogledajte http://gubed.sf.net
Comment[sv]=Quanta-insticksprogram för felsökning som fungerar med PHP-felsökaren Gubed, se http://gubed.sf.net
Comment[ta]=குவாண்டா வழுநீக்கி உள்ளீடு குபெட்PHP வழுநீக்கியோடு தொடர்புக் கொண்டிருக்கிறது, பார்க்கவும் http://gubed.sf.net
Comment[tg]=Модули ғалатёби Quanta барои алоқаи аз Gubed, ғалатёби PHP, нишон кунед http://gubed.sf.net
Comment[tr]=Gubed PHP hata ayıklayıcısıyla iletişim kurmayı sağlayan Quanta hata ayıklama eklentisi, http://gubed.sf.net adresini ziyaret edin
Comment[zh_CN]=与 Gubed PHP 调试器交互 Quanta 调试器插件，见 http://gubed.sf.net
Icon=kdbg
ServiceTypes=Quanta/Debugger
X-KDE-Library=quantadebuggergubed
