[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevQuantaProject
Name[da]=KDevQuantaProject
Name[de]=KDevQuantaProject
Name[en_GB]=KDevQuantaProject
Name[es]=KDevQuantaProject
Name[et]=KDevQuantaProject
Name[fr]=KDevQuantaProject
Name[ga]=KDevQuantaProject
Name[it]=KDevQuantaProject
Name[nds]=Quanta-Projekt för KDevelop
Name[nl]=KDevQuantaProject
Name[pl]=KDevProjektQuanta
Name[pt]=KDevQuantaProject
Name[pt_BR]=KDevQuantaProject
Name[sk]=KDevQuantaProject
Name[sv]=Kdevelop Quanta-projekt
Name[uk]=KDevQuantaProject
Name[x-test]=xxKDevQuantaProjectxx
Name[zh_CN]=KDevQuantaProject
GenericName=Quantaproject Plugin
GenericName[da]=Quantaproject-plugin
GenericName[de]=Quanta-Projekt-Modul
GenericName[en_GB]=Quantaproject Plugin
GenericName[es]=Complemento Quantaproject
GenericName[et]=Quantaprojecti plugin
GenericName[fr]=Module externe Quantaproject
GenericName[ga]=Breiseán Quantaproject
GenericName[it]=Estensione Quantaproject
GenericName[nds]=Moduul Quanta-Projekt
GenericName[nl]=Quanta-project-plugin
GenericName[pl]=Wtyczka projektu Quanta
GenericName[pt]='Plugin' de Projectos do Quanta
GenericName[pt_BR]=Plugin de projetos do Quanta
GenericName[sv]=Insticksprogram för Quanta-projekt
GenericName[uk]=Додаток проектів Quanta
GenericName[x-test]=xxQuantaproject Pluginxx
GenericName[zh_CN]=Quanta 项目插件
Comment=QuantaProject Description
Comment[da]=QuantaProject-beskrivelse
Comment[de]=Quanta-Projekt-Beschreibung
Comment[en_GB]=QuantaProject Description
Comment[es]=Descripción de QuantaProject
Comment[et]=Quantaprojecti kirjeldus
Comment[fr]=Description de QuantaProject
Comment[ga]=Cur Síos QuantaProject
Comment[it]=Descrizione QuantaProject
Comment[nds]=Beschrieven för Quanta-Projekt
Comment[nl]=Beschrijving van Quanta-project
Comment[pl]=Opis projektu Quanta
Comment[pt]=Descrição dos Projectos do Quanta
Comment[pt_BR]=Descrição dos projetos do Quanta
Comment[sv]=Beskrivning av Quanta-projekt
Comment[uk]=Опис QuantaProject
Comment[x-test]=xxQuantaProject Descriptionxx
Comment[zh_CN]=Quanta 项目描述
Icon=quanta
X-KDE-ServiceTypes=KDevelop/Project

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevquantaproject
X-KDE-PluginInfo-Name=KDevQuantaProject
X-KDevelop-Version=12
X-KDevelop-Properties=
