[Desktop Entry]
Type=Service
Exec=blubb
Comment=Quanta Core
Name=KDevQuantaCore
GenericName=Quanta Core
X-KDE-ServiceTypes=KDevelop/Plugin,KDevelop/Quanta
Icon=kdevelop
X-KDE-PluginInfo-Name=KDevQuantaCore
X-KDE-Library=libkdevquantacore
X-KDevelop-Version=10
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia
X-KDevelop-Interfaces=org.kdevelop.QuantaCoreIf
