[Desktop Entry]
Type=Service
Exec=blubb
Comment=Quanta Core
Comment[da]=Quanta Core
Comment[de]=Quanta-Kern
Comment[en_GB]=Quanta Core
Comment[es]=Núcleo de Quanta
Comment[et]=Quanta tuum
Comment[fr]=Quanta Core
Comment[it]=Core Quanta
Comment[nds]=Quanta-Karn
Comment[nl]=Quanta-kern
Comment[pt]=Núcleo do Quanta
Comment[pt_BR]=Núcleo do Quanta
Comment[sv]=Quanta-kärna
Comment[uk]=Основа Quanta
Comment[x-test]=xxQuanta Corexx
Comment[zh_CN]=Quanta 核心
Name=KDevQuantaCore
Name[da]=KDevQuantaCore
Name[de]=KDevQuantaCore
Name[en_GB]=KDevQuantaCore
Name[es]=KDevQuantaCore
Name[et]=KDevQuantaCore
Name[fr]=KDevQuantaCore
Name[it]=KDevQuantaCore
Name[nds]=Quanta-Karn för KDevelop
Name[nl]=KDevQuantaCore
Name[pt]=KDevQuantaCore
Name[pt_BR]=KDevQuantaCore
Name[sv]=Kdevelop Quanta-kärna
Name[uk]=KDevQuantaCore
Name[x-test]=xxKDevQuantaCorexx
Name[zh_CN]=KDevQuantaCore
GenericName=Quanta Core
GenericName[da]=Quanta Core
GenericName[de]=Quanta-Kern
GenericName[en_GB]=Quanta Core
GenericName[es]=Núcleo de Quanta
GenericName[et]=Quanta tuum
GenericName[fr]=Cœur de Quanta
GenericName[it]=Core Quanta
GenericName[mai]=Quanta Core
GenericName[nds]=Quanta-Karn
GenericName[nl]=Quanta-kern
GenericName[pt]=Núcleo do Quanta
GenericName[pt_BR]=Núcleo do Quanta
GenericName[sv]=Quanta-kärna
GenericName[uk]=Основа Quanta
GenericName[x-test]=xxQuanta Corexx
GenericName[zh_CN]=Quanta 核心
X-KDE-ServiceTypes=KDevelop/Plugin,KDevelop/Quanta
Icon=kdevelop
X-KDE-PluginInfo-Name=KDevQuantaCore
X-KDE-Library=libkdevquantacore
X-KDevelop-Version=12
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia
X-KDevelop-Interfaces=org.kdevelop.QuantaCoreIf
