[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Quanta/Debugger
Comment=A Quanta Debugger plugin
Comment[br]=Ul lugent dizraener Quanta
Comment[ca]=Connector de depuració pel Quanta
Comment[cs]=Ladicí modul Quanty
Comment[da]=Et Quanta fejlretter-plugin
Comment[de]=Eine Quanta Debugger-Komponente
Comment[el]=Πρόσθεμα αποσφαλματωτή Quanta 
Comment[es]=Un accesorio para un depurador de Quanta
Comment[et]=Quanta siluriplugin
Comment[fi]=Quantan debuggerin plugin
Comment[fr]=Un module de débogage pour Quanta
Comment[hu]=Quanta nyomkövető-modul
Comment[is]=Quanta aflúsunaríforrit
Comment[it]=Un plugin debugger di Quanta
Comment[ja]=Quanta デバッガプラグイン
Comment[ms]=Plug masuk penyah-ralat Quanta
Comment[nl]=Een Quanta debugger-plugin
Comment[pl]=Wtyczka debuggera Quanty
Comment[pt]=Um 'plugin' de depuração para o Quanta
Comment[pt_BR]=Um plugin do Debugger do Quanta
Comment[ru]=Модуль отладки Quanta
Comment[sl]=Vstavek razhroščevanja v Quanti
Comment[sr]=Исправљачки прикључак Quanta-е
Comment[sr@Latn]=Ispravljački priključak Quanta-e
Comment[sv]=Ett Quanta-insticksprogram för felsökning
Comment[ta]=குவாண்டா வழுநீக்கி சொருகு
Comment[tg]=Модули ғалатёби Quanta
Comment[tr]=Bir Quanta Hata Ayıklayıcı eklentisi
Comment[uk]=Втулок зневадження Quanta
Comment[xx]=xxA Quanta Debugger pluginxx
Comment[zh_CN]=Quanta 调试器插件
