[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Quanta/Debugger
Comment=A Quanta Debugger plugin
Comment[bg]=Приставка на Quanta за дебъгване
Comment[br]=Ul lugent dizraener Quanta
Comment[ca]=Un connector de depuració pel Quanta
Comment[cs]=Ladicí modul Quanty
Comment[da]=Et Quanta fejlretter-plugin
Comment[de]=Eine Quanta Debugger-Komponente
Comment[el]=Πρόσθετο αποσφαλματωτή Quanta 
Comment[es]=Un accesorio para un depurador de Quanta
Comment[et]=Quanta siluriplugin
Comment[eu]=Quanta araztailearen plugina
Comment[fa]=وصلۀ اشکال‌زدای Quanta
Comment[fi]=Quantan debuggerin plugin
Comment[fr]=Un module de débogage pour Quanta
Comment[ga]=Breiseán dífhabhtóra Quanta
Comment[gl]=Un plugin para o depurador de Quanta
Comment[hu]=Quanta nyomkövető-modul
Comment[is]=Quanta aflúsunaríforrit
Comment[it]=Un plugin debugger di Quanta
Comment[ja]=Quanta デバッガプラグイン
Comment[ka]=Quanta-ს განბზიკვის მოდული
Comment[lt]=Quanta derintuvės priedas
Comment[ms]=Plug masuk penyah-ralat Quanta
Comment[nds]=En Fehlersöök-Komponent för Quanta
Comment[ne]=एउटा क्वान्टा त्रुटिमोचक प्लगइन
Comment[nl]=Een Quanta debugger-plugin
Comment[pl]=Wtyczka debuggera Quanty
Comment[pt]=Um 'plugin' de depuração para o Quanta
Comment[pt_BR]=Um plugin do Debugger do Quanta
Comment[ru]=Модуль отладки Quanta
Comment[sk]=Quanta debuger modul
Comment[sl]=Vstavek razhroščevanja v Quanti
Comment[sr]=Исправљачки прикључак Quanta-е
Comment[sr@Latn]=Ispravljački priključak Quanta-e
Comment[sv]=Ett Quanta-insticksprogram för felsökning
Comment[ta]=குவாண்டா வழுநீக்கி சொருகு
Comment[tg]=Модули ғалатёби Quanta
Comment[tr]=Bir Quanta Hata Ayıklayıcı eklentisi
Comment[uk]=Втулок зневадження Quanta
Comment[zh_CN]=Quanta 调试器插件
Comment[zh_HK]=一個 Quanta 除錯器的外掛程式
Comment[zh_TW]=一個 Quanta 除錯器的外掛程式
