[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevCreateQuantaProject
Name[it]=Crea progetto Quanta
Name[x-test]=xxKDevCreateQuantaProjectxx
GenericName=CreateQuantaProject Plugin
GenericName[el]=Πρόσθετο δημιουργίας έργου Quanta
GenericName[it]=Plugin per creare un progetto Quanta
GenericName[x-test]=xxCreateQuantaProject Pluginxx
Comment=CreateQuantaProject Description
Comment[el]=Περιγραφή δημιουργίας έργου Quanta
Comment[it]=Crea un progetto di Quanta
Comment[x-test]=xxCreateQuantaProject Descriptionxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevcreatequantaproject
X-KDE-PluginInfo-Name=KDevCreateQuantaProject
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta,Quanta-CreateProject
