[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevCreateQuantaProject
Name[it]=Crea progetto Quanta
Name[sv]=KDevelop skapa Quanta-projekt
Name[x-test]=xxKDevCreateQuantaProjectxx
GenericName=CreateQuantaProject Plugin
GenericName[el]=Πρόσθετο δημιουργίας έργου Quanta
GenericName[fa]=وصلۀ CreateQuantaProject
GenericName[ga]=Breiseán CreateQuantaProject
GenericName[it]=Plugin per creare un progetto Quanta
GenericName[ja]=Quanta プロジェクト作成プラグイン
GenericName[pa]=CreateQuantaProject ਪਲੱਗਇਨ
GenericName[pt]='Plugin' de Criação de Projectos do Quanta
GenericName[pt_BR]='Plugin' de Criação de Projectos do Quanta
GenericName[sv]=Insticksprogram för att skapa Quanta-projekt
GenericName[x-test]=xxCreateQuantaProject Pluginxx
GenericName[zh_TW]=建立 Quanta 專案外掛程式
Comment=CreateQuantaProject Description
Comment[el]=Περιγραφή δημιουργίας έργου Quanta
Comment[ga]=Cur Síos CreateQuantaProject
Comment[it]=Crea un progetto di Quanta
Comment[pa]=CreateQuantaProject ਵੇਰਵਾ
Comment[pt]=Descrição da Criação de Projectos do Quanta
Comment[pt_BR]=Descrição da Criação de Projectos do Quanta
Comment[sv]=Beskrivning av skapa Quanta-projekt
Comment[x-test]=xxCreateQuantaProject Descriptionxx
Comment[zh_TW]=建立 Quanta 專案描述
Icon=kdevelop
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevcreatequantaproject
X-KDE-PluginInfo-Name=KDevCreateQuantaProject
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta,Quanta-CreateProject
