[Desktop Entry]
Type=Service
Name=Quanta Project Importer
Name[da]=Quanta projektimport
Name[de]=Quanta-Projekt-Importeur
Name[el]=Εισαγωγέας έργου Quanta
Name[es]=Importador de proyectos de Quanta
Name[et]=Quanta projekti importija
Name[fa]=واردکنندۀ پروژۀ Quanta
Name[ga]=Iompórtálaí Tionscadal Quanta
Name[gl]=Importador de proxectos de Quanta
Name[it]=Importazione di progetti Quanta
Name[ne]=क्वान्टा परियोजना आयातकर्ता
Name[nl]=Projectimport (Quanta)
Name[pa]= 
Name[pt]=Importação de Projectos do Quanta
Name[pt_BR]=Importação de Projectos do Quanta
Name[sv]=Import av Quanta-projekt
Name[tr]=Quanta Projesi İçe Aktarıcı
Name[uk]=Імпорт проектів Quanta
Name[x-test]=xxQuanta Project Importerxx
Name[zh_CN]=Quanta 工程导入
Name[zh_TW]=Quanta 專案匯入器
Comment=Allow KDevelop to manage Quanta projects
Comment[da]=Lad KDevelop håndtere Quanta-projekter
Comment[de]=Quanta-Projekte in KDevelop verwalten
Comment[el]=Επιτρέπει στο KDevelop τη διαχείριση έργων Quanta
Comment[es]=Permitir que KDevelop gestione los proyectos
Comment[et]=Võimaldab KDevelopil hallata Quanta projekte
Comment[fa]=اجازه دادن به KDevelop برای مدیریت پروژه‌های Quanta
Comment[fr]=Permet à KDevelop de gérer les projets Quanta
Comment[ga]=Ceadaigh do KDevelop tionscadail Quanta a bhainistiú
Comment[gl]=Permíte que KDevelop xestione proxectos de Quanta
Comment[it]=Permetti a KDevelop di gestire i progetti di Quanta
Comment[nds]=Pleeg vun Quanta-Projekten mit KDevelop
Comment[ne]=क्वान्टा परियोजना प्रबन्ध गर्न केडीई विकासलाई अनुमति दिनुहोस्
Comment[nl]=Maakt het mogelijk om met KDevelop Quanta-projecten te beheren
Comment[pt]=Permite ao KDevelop gerir os projectos do Quanta
Comment[pt_BR]=Permite ao KDevelop gerir os projectos do Quanta
Comment[sv]=Låt KDevelop hantera Quanta-projekt
Comment[tr]=KDevelop'un Quanta projelerini yönetmesine izin ver
Comment[uk]=Дозволити програмі KDevelop керувати проектами Quanta
Comment[x-test]=xxAllow KDevelop to manage Quanta projectsxx
Comment[zh_CN]=允许您用 KDevelop 管理 Quanta 工程
Comment[zh_TW]=允許 KDevelop 管理 Quanta 專案
Icon=gear
X-KDE-ServiceTypes=KDevelop/Plugin
X-KDE-Library=quantaprojectfilemanager
X-KDE-PluginInfo-Name=QuantaProjectFileManager
X-KDevelop-FileManager=None
X-KDevelop-Version=6
X-KDevelop-Interfaces=org.kdevelop.IProjectFileManager
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
