[Desktop Entry]
Type=Service
Name=Quanta Project Importer
Name[ca]=Importador de projectes de Quanta
Name[ca@valencia]=Importador de projectes de Quanta
Name[de]=Quanta-Projekt-Import
Name[en_GB]=Quanta Project Importer
Name[es]=Importador de proyectos de Quanta
Name[et]=Quanta projekti importija
Name[fr]=Importateur de projets pour Quanta
Name[ga]=Iompórtálaí Tionscadal Quanta
Name[it]=Importatore dei progetti di Quanta
Name[nds]=Projektimporterer för Quanta
Name[pt]=Importação de Projectos do Quanta
Name[pt_BR]=Importação de projetos do Quanta
Name[ro]=Importator de proiecte Quanta
Name[sv]=Import av Quanta-projekt
Name[uk]=Імпорт проектів Quanta
Name[x-test]=xxQuanta Project Importerxx
Name[zh_TW]=Quanta 專案匯入器
Comment=Allow KDevelop to manage Quanta projects
Comment[ca]=Permet a KDevelop gestionar projectes de Quanta
Comment[ca@valencia]=Permet a KDevelop gestionar projectes de Quanta
Comment[de]=Quanta-Projekte in KDevelop verwalten
Comment[en_GB]=Allow KDevelop to manage Quanta projects
Comment[es]=Permitir que KDevelop gestione los proyectos
Comment[et]=Võimaldab KDevelopil hallata Quanta projekte
Comment[fr]=Permet à KDevelop de gérer des projets Quanta
Comment[ga]=Ceadaigh do KDevelop tionscadail Quanta a bhainistiú
Comment[it]=Permette a KDevelop di gestire i progetti di Quanta
Comment[nds]=Pleeg vun Quanta-Projekten mit KDevelop
Comment[pt]=Permite ao KDevelop gerir os projectos do Quanta
Comment[pt_BR]=Permite o gerenciamento de projetos do Quanta pelo KDevelop
Comment[ro]=Permite KDevelop să gestioneze proiecte Quanta
Comment[sv]=Låt KDevelop hantera Quanta-projekt
Comment[uk]=Дозволити програмі KDevelop керувати проектами Quanta
Comment[x-test]=xxAllow KDevelop to manage Quanta projectsxx
Comment[zh_TW]=允許 KDevelop 管理 Quanta 專案
Icon=gear
X-KDE-ServiceTypes=KDevelop/Plugin
X-KDE-Library=quantaprojectfilemanager
X-KDE-PluginInfo-Name=QuantaProjectFileManager
X-KDevelop-FileManager=None
X-KDevelop-Version=9
X-KDevelop-Interfaces=org.kdevelop.IProjectFileManager
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
