[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevCreateQuantaProject
Name[da]=KDevCreateQuantaProject
Name[de]=KDevCreateQuantaProject
Name[en_GB]=KDevCreateQuantaProject
Name[es]=KDevCreateQuantaProject
Name[et]=KDevCreateQuantaProject
Name[fr]=KDevCreateQuantaProject
Name[ga]=KDevCreateQuantaProject
Name[hu]=KDevCreateQuantaProject
Name[it]=KDevCreateQuantaProject
Name[nds]=Quanta-Projektopsteller för KDevelop
Name[nl]=Project aanmaken (Quanta)
Name[pl]=KDevTworzeniaProjektuQuanta
Name[pt]=KDevCreateQuantaProject
Name[pt_BR]=KDevCreateQuantaProject
Name[sk]=KDevCreateQuantaProject
Name[sv]=KDevelop skapa Quanta-projekt
Name[uk]=KDevCreateQuantaProject
Name[x-test]=xxKDevCreateQuantaProjectxx
Name[zh_CN]=KDevCreateQuantaProject
GenericName=CreateQuantaProject Plugin
GenericName[da]=CreateQuantaProject-plugin
GenericName[de]=Modul zum Erstellen eines Quanta-Projekts
GenericName[en_GB]=CreateQuantaProject Plugin
GenericName[es]=Complemento CreateQuantaProjec
GenericName[et]=CreateQuantaProjecti plugin
GenericName[fr]=Module externe CreateQuantaProject
GenericName[ga]=Breiseán CreateQuantaProject
GenericName[hu]=CreateQuantaProject bővítmény
GenericName[it]=Estensione CreateQuantaProject
GenericName[nds]=Moduul Quanta-Projektopsteller
GenericName[nl]=Plugin voor aanmaken van Quanta-projecten
GenericName[pl]=Wtyczka tworzenia projektu Quanta
GenericName[pt]='Plugin' de Criação de Projectos do Quanta
GenericName[pt_BR]=Plugin de criação de projetos do Quanta
GenericName[sk]=Plugin CreateQuantaProject
GenericName[sv]=Insticksprogram för att skapa Quanta-projekt
GenericName[uk]=Додаток CreateQuantaProject
GenericName[x-test]=xxCreateQuantaProject Pluginxx
GenericName[zh_CN]=Quanta 项目创建插件
Comment=CreateQuantaProject Description
Comment[da]=CreateQuantaProject-beskrivelse
Comment[de]=Beschreibung zum Erstellen eines Quanta-Projekts
Comment[en_GB]=CreateQuantaProject Description
Comment[es]=Descripción de CreateQuantaProject
Comment[et]=CreateQuantaProjecti kirjeldus
Comment[fr]=Description de CreateQuantaProject
Comment[ga]=Cur Síos CreateQuantaProject
Comment[hu]=CreateQuantaProject leírás
Comment[it]=Descrizione CreateQuantaProject
Comment[nds]=Beschrieven för Quanta-Projektopsteller
Comment[nl]=Beschrijving van aangemaakt Quanta-project
Comment[pl]=Opis tworzenia projektu Quanta
Comment[pt]=Descrição da Criação de Projectos do Quanta
Comment[pt_BR]=Descrição da criação de projetos do Quanta
Comment[sk]=Popis CreateQuantaProject
Comment[sv]=Beskrivning av skapa Quanta-projekt
Comment[uk]=Опис CreateQuantaProject
Comment[x-test]=xxCreateQuantaProject Descriptionxx
Comment[zh_CN]=Quanta 项目创建描述
Icon=kdevelop
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevcreatequantaproject
X-KDE-PluginInfo-Name=KDevCreateQuantaProject
X-KDevelop-Version=12
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
X-KDevelop-Mode=GUI
