[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevCreateQuantaProject
Name[de]=KDevCreateQuantaProject
Name[es]=KDevCreateQuantaProject
Name[fr]=KDevCreateQuantaProject
Name[it]=KDevCreateQuantaProject
Name[nds]=Quanta-Projektopsteller för KDevelop
Name[pt]=KDevCreateQuantaProject
Name[pt_BR]=KDevCreateQuantaProject
Name[sv]=KDevelop skapa Quanta-projekt
Name[uk]=KDevCreateQuantaProject
Name[x-test]=xxKDevCreateQuantaProjectxx
Name[zh_CN]=KDevCreateQuantaProject
GenericName=CreateQuantaProject Plugin
GenericName[de]=Modul zum Erstellen eines Quanta-Projekts
GenericName[es]=Complemento CreateQuantaProjec
GenericName[fr]=Module externe CreateQuantaProject
GenericName[it]=Estensione CreateQuantaProject
GenericName[nds]=Moduul Quanta-Projektopsteller
GenericName[pt]='Plugin' de Criação de Projectos do Quanta
GenericName[pt_BR]=Plug-in de criação de projetos do Quanta
GenericName[sv]=Insticksprogram för att skapa Quanta-projekt
GenericName[uk]=Додаток CreateQuantaProject
GenericName[x-test]=xxCreateQuantaProject Pluginxx
GenericName[zh_CN]=Quanta 项目创建插件
Comment=CreateQuantaProject Description
Comment[de]=Beschreibung zum Erstellen eines Quanta-Projekts
Comment[es]=Descripción de CreateQuantaProject
Comment[fr]=Description de CreateQuantaProject
Comment[it]=Descrizione CreateQuantaProject
Comment[nds]=Beschrieven för Quanta-Projektopsteller
Comment[pt]=Descrição da Criação de Projectos do Quanta
Comment[pt_BR]=Descrição da criação de projetos do Quanta
Comment[sv]=Beskrivning av skapa Quanta-projekt
Comment[uk]=Опис CreateQuantaProject
Comment[x-test]=xxCreateQuantaProject Descriptionxx
Comment[zh_CN]=Quanta 项目创建描述
Icon=kdevelop
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevcreatequantaproject
X-KDE-PluginInfo-Name=KDevCreateQuantaProject
X-KDevelop-Version=10
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
X-KDevelop-Mode=GUI
