[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevTagDialogs
Name[it]=Finestre dei tag
Name[ne]=केडीई विकास ट्याग संवाद
Name[nl]=Tag-dialogen
Name[sv]=Kdevelop taggdialogrutor
Name[tr]=KDevEtiketDiyalogları
Name[x-test]=xxKDevTagDialogsxx
GenericName=TagDialogs Plugin
GenericName[de]=Tag-Dialog-Modul
GenericName[el]=Πρόσθετο διαλόγων ετικετών
GenericName[et]=Sildidialoogide plugin
GenericName[fr]=Greffon TagDialogs
GenericName[ga]=Breiseán TagDialogs
GenericName[gl]=Extensión TagDialogs
GenericName[it]=Plugin per le finestre dei tag
GenericName[ja]=タグダイアログプラグイン
GenericName[ne]=ट्याग संवादको प्लगइन
GenericName[nl]=Tagdialogen-plugin
GenericName[pt]='Plugin' das Janelas de Marcas
GenericName[pt_BR]='Plugin' das Janelas de Marcas
GenericName[sv]=Insticksprogram för taggdialogrutor
GenericName[tr]=EtiketDiyalogları Eklentisi
GenericName[x-test]=xxTagDialogs Pluginxx
GenericName[zh_CN]=标签对话框插件
GenericName[zh_TW]=標籤對話框外掛程式
Comment=TagDialogs Description
Comment[de]=Tag-Dialog-Beschreibung
Comment[el]=Περιγραφή διαλόγων ετικετών
Comment[et]=Sildidialoogide kirjeldus
Comment[fr]=Description TagDialogs
Comment[ga]=Cur Síos TagDialogs
Comment[gl]=Descrición TagDialogs
Comment[it]=Finestre dei tag
Comment[ne]=ट्याग संवादको वर्णन
Comment[nl]=Tag-dialogen
Comment[pt]=Descrição das Janelas de Marcas
Comment[pt_BR]=Descrição das Janelas de Marcas
Comment[sv]=Beskrivning av taggdialogrutor
Comment[tr]=EtiketDiyalogları Açıklaması
Comment[x-test]=xxTagDialogs Descriptionxx
Comment[zh_CN]=标签对话框插件的描述
Comment[zh_TW]=標籤對話框描述
Icon=view_sidetree
X-KDE-ServiceTypes=KDevelop/Plugin,KDevelop/TagDialogs

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) 2005, Andras Mantia

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevtagdialogs
X-KDE-PluginInfo-Name=KDevTagDialogs
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta,Quanta-TagDialogs
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
