[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevTagDialogs
Name[it]=Finestre dei tag
Name[x-test]=xxKDevTagDialogsxx
GenericName=TagDialogs Plugin
GenericName[it]=Plugin per le finestre dei tag
GenericName[x-test]=xxTagDialogs Pluginxx
Comment=TagDialogs Description
Comment[it]=Finestre dei tag
Comment[x-test]=xxTagDialogs Descriptionxx
Icon=view_sidetree
ServiceTypes=KDevelop/Plugin,KDevelop/TagDialogs

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) 2005, Andras Mantia

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevtagdialogs
X-KDE-PluginInfo-Name=KDevTagDialogs
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta,Quanta-TagDialogs
