[Desktop Entry]
Icon=go-up
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_upload
X-KDE-FactoryName=kcm_kdev_upload
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject
X-KDE-CfgDlgHierarchy=GENERAL

Name=Upload Profiles
Name[de]=Upload-Profile
Name[x-test]=xxUpload Profilesxx
Comment=Configure Upload Profiles
Comment[de]=Upload-Profile einrichten
Comment[x-test]=xxConfigure Upload Profilesxx
