[Desktop Entry]
Icon=go-up
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_upload
X-KDE-FactoryName=kcm_kdev_upload
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject,kdevupload
X-KDE-CfgDlgHierarchy=GENERAL

Name=Upload Profiles
Comment=Configure Upload Profiles
