[Desktop Entry]
Icon=go-up
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_upload
X-KDE-FactoryName=kcm_kdev_upload
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=KDevUpload
X-KDE-CfgDlgHierarchy=GENERAL

Name=Upload Profiles
Name[en_GB]=Upload Profiles
Name[pt]=Perfis de Envio
Name[sv]=Uppladdningsprofiler
Name[uk]=Вивантажити профілі
Name[x-test]=xxUpload Profilesxx
Comment=Configure Upload Profiles
Comment[en_GB]=Configure Upload Profiles
Comment[pt]=Configurar os Perfis de Envio
Comment[sv]=Anpassa uppladdningsprofiler
Comment[uk]=Налаштувати вивантаження профілів
Comment[x-test]=xxConfigure Upload Profilesxx
