[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevUpload
Name[ca]=KDevUpload
Name[da]=KDevUpload
Name[de]=KDevUpload
Name[el]=KDevUpload
Name[en_GB]=KDevUpload
Name[es]=KDevUpload
Name[et]=KDevUpload
Name[fr]=KDevUpload
Name[ga]=KDevUpload
Name[gl]=KDevUpload
Name[it]=KDevUpload
Name[ko]=KDevUpload
Name[nds]=KDevUpload
Name[nl]=KDev-upload
Name[pa]=KDevUpload
Name[pt]=KDevUpload
Name[pt_BR]=KDevUpload
Name[ro]=KDevUpload
Name[sv]=KDevelop uppladdning
Name[th]=KDevUpload
Name[tr]=KDevUpload
Name[uk]=KDevUpload
Name[x-test]=xxKDevUploadxx
Name[zh_CN]=KDevUpload
Name[zh_TW]=KDevUpload
GenericName=Upload Plugin
GenericName[ca]=Connector de pujades
GenericName[cs]=Odeslat modul
GenericName[da]=Upload-plugin
GenericName[de]=Upload-Modul
GenericName[el]=Πρόσθετο αποστολής
GenericName[en_GB]=Upload Plugin
GenericName[es]=Complemento de envío
GenericName[et]=Üleslaadimise plugin
GenericName[fr]=Module d'envoi
GenericName[ga]=Breiseán Uasluchtaithe
GenericName[gl]=Extensión de envío
GenericName[hne]=अपलोड प्लगइन
GenericName[it]=Plugin di caricamento
GenericName[ko]=업로드 플러그인
GenericName[nds]=Hoochlaad-Moduul
GenericName[nl]=Upload-plugin
GenericName[pa]=ਅੱਪਲੋਡ ਪਲੱਗਇਨ
GenericName[pl]=Wtyczka wysyłania
GenericName[pt]='Plugin' de Envio
GenericName[pt_BR]=Plug-in de envio
GenericName[ro]=Modul de încărcare
GenericName[sv]=Insticksprogram för uppladdning
GenericName[th]=อัพโหลดปลั๊กอิน
GenericName[tr]=Gönderme Eklentisi
GenericName[uk]=Втулок вивантаження
GenericName[x-test]=xxUpload Pluginxx
GenericName[zh_CN]=上传插件
GenericName[zh_TW]=上傳外掛程式
Comment=Upload Projectfiles to remote server
Comment[ca]=Puja fitxers de projecte al servidor remot
Comment[da]=Upload projectfiles til ekstern server
Comment[de]=Projektdateien auf entfernten Server hochladen
Comment[el]=Αποστολή αρχείων έργων σε απομακρυσμένο εξυπηρετητή
Comment[en_GB]=Upload Projectfiles to remote server
Comment[es]=Enviar los archivos del proyecto a un servidor remoto
Comment[et]=Projektifailide üleslaadimine võrguserverisse
Comment[fr]=Envoyer des « Projectfiles » à un serveur distant
Comment[ga]=Uasluchtaigh comhaid tionscadail go cianfhreastalaí
Comment[gl]=Envía ficheiros de proxecto a un servidor remoto
Comment[it]=Carica file di progetto su un server remoto
Comment[ko]=프로젝트 파일을 원격 서버에 업로드합니다
Comment[nds]=Projektdateien na en feern Server hoochladen
Comment[nl]=Projectbestanden uploaden naar server op afstand
Comment[pl]=Wysyłanie plików profili na zdalny serwer
Comment[pt]=Enviar os ficheiros de projecto para um servidor remoto
Comment[pt_BR]=Envia os arquivos do projeto para um servidor remoto
Comment[sv]=Ladda upp projektfiler till fjärrserver
Comment[th]=อัพโหลดแฟ้มโครงการไปยังเซิร์ฟเวอร์
Comment[tr]=Proje dosyalarını uzak sunuculara gönderir
Comment[uk]=Вивантаження файлів проекту на віддалений сервер
Comment[x-test]=xxUpload Projectfiles to remote serverxx
Comment[zh_CN]=将工程文件上传到远程服务器
Comment[zh_TW]=上傳專案檔到遠端伺服器
Icon=go-up
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
#X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=niko.sams@gmail.com
X-KDevelop-Plugin-Copyright=(C) by Niko Sams

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevupload
X-KDE-PluginInfo-Name=KDevUpload
X-KDevelop-Version=7
X-KDevelop-IRequired=org.kdevelop.IOutputView
X-KDevelop-Mode=GUI
