[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevUpload
Name[ca]=KDevUpload
Name[ca@valencia]=KDevUpload
Name[da]=KDevUpload
Name[de]=KDevUpload
Name[en_GB]=KDevUpload
Name[es]=KDevUpload
Name[et]=KDevUpload
Name[fr]=KDevUpload
Name[ga]=KDevUpload
Name[hu]=KDevUpload
Name[it]=KDevUpload
Name[ja]=KDevUpload
Name[nb]=KDevUpload
Name[nds]=KDevUpload
Name[nl]=KDevUpload
Name[pl]=KDevUpload
Name[pt]=KDevUpload
Name[pt_BR]=KDevUpload
Name[sv]=KDevelop uppladdning
Name[tr]=KDevUpload
Name[uk]=KDevUpload
Name[x-test]=xxKDevUploadxx
Name[zh_CN]=KDevUpload
Name[zh_TW]=KDevUpload
GenericName=Upload Plugin
GenericName[ca]=Connector de pujades
GenericName[ca@valencia]=Connector de pujades
GenericName[da]=Plugin til upload
GenericName[de]=Upload-Modul
GenericName[en_GB]=Upload Plugin
GenericName[es]=Complemento de envío
GenericName[et]=Üleslaadimise plugin
GenericName[fr]=Module externe d'envoi
GenericName[ga]=Breiseán Uasluchtaithe
GenericName[hu]=Feltöltő bővítmény
GenericName[it]=Invia estensione
GenericName[ja]=アップロードプラグイン
GenericName[nb]=Last opp programtillegg
GenericName[nl]=Upload-plugin
GenericName[pl]=Wtyczka wysyłania
GenericName[pt]='Plugin' de Envio
GenericName[pt_BR]=Plugin de envio
GenericName[sv]=Insticksprogram för uppladdning
GenericName[tr]=Gönderme Eklentisi
GenericName[uk]=Додаток вивантаження
GenericName[x-test]=xxUpload Pluginxx
GenericName[zh_CN]=上传插件
GenericName[zh_TW]=上傳外掛程式
Comment=Upload project files to a remote server
Comment[ca]=Puja fitxers de projecte al servidor remot
Comment[ca@valencia]=Puja fitxers de projecte al servidor remot
Comment[da]=Upload projektfiler til en ekstern server
Comment[en_GB]=Upload project files to a remote server
Comment[es]=Enviar los archivos del proyecto a un servidor remoto
Comment[et]=Projektifailide üleslaadimine võrguserverisse
Comment[fr]=Envoie des fichiers projet à un serveur distant
Comment[hu]=Projektfájlok feltöltése egy távoli kiszolgálóra
Comment[it]=Invia i file del progetto a un server remoto
Comment[ja]=リモートサーバにプロジェクトファイルをアップロードします
Comment[nb]=Last opp prosjektfiler til en nettjener
Comment[nds]=Projektdateien na en feern Server hoochladen
Comment[nl]=Projectbestanden naar een server op afstand uploaden
Comment[pl]=Wysyła pliki projektu na zdalny serwer
Comment[pt]=Enviar os ficheiros do projecto para um servidor remoto
Comment[pt_BR]=Enviar os arquivos do projeto para um servidor remoto
Comment[sv]=Ladda upp projektfiler till en fjärrserver
Comment[tr]=Proje dosyalarını uzaktaki sunucuya gönder
Comment[uk]=Вивантаження файлів проекту на віддалений сервер
Comment[x-test]=xxUpload project files to a remote serverxx
Comment[zh_CN]=将工程文件上传到远程服务器
Comment[zh_TW]=上傳專案檔到遠端伺服器
Icon=go-up
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
#X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=niko.sams@gmail.com
X-KDevelop-Plugin-Copyright=(C) by Niko Sams

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevupload
X-KDE-PluginInfo-Name=KDevUpload
X-KDevelop-Version=10
X-KDevelop-IRequired=org.kdevelop.IOutputView
X-KDevelop-Mode=GUI
