[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevUpload
GenericName=Upload Plugin
Comment=Upload project files to a remote server
Icon=go-up
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
#X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=niko.sams@gmail.com
X-KDevelop-Plugin-Copyright=(C) by Niko Sams

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevupload
X-KDE-PluginInfo-Name=KDevUpload
X-KDevelop-Version=10
X-KDevelop-IRequired=org.kdevelop.IOutputView
X-KDevelop-Mode=GUI
