[Desktop Entry]
Encoding=UTF-8
Icon=quanta
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_usertoolbars
X-KDE-FactoryName=kcm_kdev_usertoolbars
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=USERINTERFACE

Name=User Toolbars setting
Name[fr]=Configuration des barres d'utilisateur
Name[ga]=Socrú UserToolbars
Name[pt]=Configuração das Barras de Ferramentas do Utilizador
Name[pt_BR]=Configuração das Barras de Ferramentas do Utilizador
Name[sv]=Inställning av användarverktygsrader
Name[uk]=Параметр Панелей користувача
Name[x-test]=xxUser Toolbars settingxx
Name[zh_TW]=使用者工具列設定
Comment=Configure User Toolbars
Comment[ca]=Configura la part del navegador KHTML
Comment[fr]=Configurer des barres d'utilisateur
Comment[ga]=Cumraigh UserToolbars
Comment[pt]=Configurar as Barras de Ferramentas dos Utilizadores
Comment[pt_BR]=Configurar as Barras de Ferramentas dos Utilizadores
Comment[sv]=Anpassa användarverktygsrader
Comment[uk]=Налаштувати Панелі користувача
Comment[x-test]=xxConfigure User Toolbarsxx
Comment[zh_TW]=設定使用者工具列
