[Desktop Entry]
Encoding=UTF-8
Icon=quanta
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_usertoolbars
X-KDE-FactoryName=kcm_kdev_usertoolbars
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=USERINTERFACE

Name=User Toolbars setting
Name[ga]=Socrú UserToolbars
Name[uk]=Параметр Панелей користувача
Name[zh_TW]=使用者工具列設定
Comment=Configure User Toolbars
Comment[ga]=Cumraigh UserToolbars
Comment[uk]=Налаштувати Панелі користувача
Comment[zh_TW]=設定使用者工具列
