[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevUserToolbars
Name[x-test]=xxKDevUserToolbarsxx
GenericName=UserToolbars Plugin
GenericName[x-test]=xxUserToolbars Pluginxx
Comment=UserToolbars Description
Comment[x-test]=xxUserToolbars Descriptionxx
Icon=kdevelop
ServiceTypes=KDevelop/Plugin,KDevelop/UserToolbars

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevusertoolbars
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta,UserToolbars
