[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevUserToolbars
Name[ca]=KDevUserToolbars
Name[de]=KDevUserToolbars
Name[en_GB]=KDevUserToolbars
Name[es]=KDevUserToolbars
Name[pt]=KDevUserToolbars
Name[pt_BR]=KDevUserToolbars
Name[sv]=Kdevelop användarverktygsrader
Name[uk]=KDevUserToolbars
Name[x-test]=xxKDevUserToolbarsxx
Name[zh_TW]=KDevUserToolbars
GenericName=UserToolbars Plugin
GenericName[ca]=Connector UserToolbars
GenericName[de]=Modul für Benutzerwerkzeugleisten
GenericName[en_GB]=UserToolbars Plugin
GenericName[es]=Complemento de las barras de herramientas del usuario
GenericName[pt]='Plugin' das Barras de Ferramentas do Utilizador
GenericName[pt_BR]=Plug-in das barras de ferramentas do usuário
GenericName[sv]=Insticksprogram för användarverktygsrader
GenericName[uk]=Додаток UserToolbars
GenericName[x-test]=xxUserToolbars Pluginxx
GenericName[zh_TW]=使用者工具列外掛程式
Comment=UserToolbars Description
Comment[ca]=Descripció d'UserToolbars
Comment[de]=Beschreibung für Benutzerwerkzeugleisten
Comment[en_GB]=UserToolbars Description
Comment[es]=Descripción de las barras de herramientas del usuario
Comment[pt]=Descrição das Barras de Ferramentas do Utilizador
Comment[pt_BR]=Descrição das barras de ferramentas do usuário
Comment[sv]=Beskrivning av användarverktygsrader
Comment[uk]=Опис UserToolbars
Comment[x-test]=xxUserToolbars Descriptionxx
Comment[zh_TW]=使用者工具列描述
Icon=kdevelop
X-KDE-ServiceTypes=KDevelop/Plugin,KDevelop/UserToolbars

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevusertoolbars
X-KDE-PluginInfo-Name=KDevUserToolbars
X-KDevelop-Version=8
X-KDevelop-Mode=GUI
