[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=XML Validator
Name[da]=XML-validering
Name[de]=XML-Überprüfung
Name[en_GB]=XML Validator
Name[es]=Validador XML
Name[et]=XML-i validaator
Name[fr]=Validateur XML
Name[hu]=XML ellenőrző
Name[it]=Convalidatore per XML
Name[nl]=XML-validator
Name[pl]=Potwierdzanie XML
Name[pt]=Validação de XML
Name[pt_BR]=Validação de XML
Name[sv]=XML-validering
Name[uk]=Перевірка XML
Name[x-test]=xxXML Validatorxx
Name[zh_CN]=XML 校验工具
GenericName=XML Validator
GenericName[da]=XML-validering
GenericName[de]=XML-Überprüfung
GenericName[en_GB]=XML Validator
GenericName[es]=Validador XML
GenericName[et]=XML-i validaator
GenericName[fr]=Validateur XML
GenericName[hu]=XML ellenőrző
GenericName[it]=Convalidatore per XML
GenericName[nl]=XML-validator
GenericName[pl]=Potwierdzanie XML
GenericName[pt]=Validação de XML
GenericName[pt_BR]=Validação de XML
GenericName[sv]=XML-validering
GenericName[uk]=Перевірка XML
GenericName[x-test]=xxXML Validatorxx
GenericName[zh_CN]=XML 校验工具
Comment=Validates XML files against a DTD or schema
Comment[da]=Validerer XML-filer imod en DTD eller et skema
Comment[de]=Überprüft XML-Dateien mit einer DTD oder einem Schema
Comment[en_GB]=Validates XML files against a DTD or schema
Comment[es]=Valida archivos XML según una DTD o un esquema
Comment[et]=XML-failide süntaksi kontrollimine DTD või skeemi abil
Comment[fr]=Valide des fichiers XML par rapport à une DTD ou un schéma
Comment[hu]=XML fájlok ellenőrzése a DTD vagy a séma szerint
Comment[it]=Convalida dei file XML nei confronti di un DTD o schema
Comment[pl]=Potwierdza pliki XML na podstawie DTD lub schematu
Comment[pt]=Valida os ficheiros XML com uma DTD ou esquema
Comment[pt_BR]=Valida os arquivos XML face a um DTD ou esquema
Comment[sv]=Validerar XML-filer med en DTD eller ett schema
Comment[uk]=Виконує перевірку файлів XML за DTD або вказаною схемою (schema)
Comment[x-test]=xxValidates XML files against a DTD or schemaxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlvalidator
X-KDevelop-Version=12
X-KDE-PluginInfo-Name=kdevxmlvalidator
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-SupportedMimeTypes=text/xml,application/xml,application/xsd, application/xsd+xml, application/xslt+xml, application/x-wsdl, application/wsdl+xml
X-KDevelop-Mode=NoGUI
