[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=XML Validator
Name[x-test]=xxXML Validatorxx
GenericName=XML Validator
GenericName[x-test]=xxXML Validatorxx
Comment=Validates XML files against a DTD or schema
Comment[x-test]=xxValidates XML files against a DTD or schemaxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlvalidator
X-KDevelop-Version=10
X-KDE-PluginInfo-Name=kdevxmlvalidator
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-SupportedMimeTypes=text/xml,application/xml,application/xsd, application/xsd+xml, application/xslt+xml, application/x-wsdl, application/wsdl+xml
X-KDevelop-Mode=NoGUI
