[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevStructureTree
Name[x-test]=xxKDevStructureTreexx
GenericName=Structure Tree Plugin
GenericName[x-test]=xxStructure Tree Pluginxx
Comment=The Structure Tree is a view on the structure of the document.
Comment[x-test]=xxThe Structure Tree is a view on the structure of the document.xx
Icon=view_tree
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevstructuretree
X-KDE-PluginInfo-Name=KDevStructureTree
X-KDevelop-Version=9
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
X-KDevelop-Mode=GUI
