[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevStructureTree
Name[it]=Albero di struttura
Name[x-test]=xxKDevStructureTreexx
GenericName=Structure Tree Plugin
GenericName[it]=Plugin per alberi di struttura
GenericName[x-test]=xxStructure Tree Pluginxx
Comment=The Structure Tree is a view on the stucture of the document.
Comment[it]=L'albero di struttura è una vista della struttura del documento.
Comment[x-test]=xxThe Structure Tree is a view on the stucture of the document.xx
Icon=view_tree
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevstructuretree
X-KDE-PluginInfo-Name=KDevStructureTree
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta,Quanta-StructureTree
