[Desktop Entry]
Icon=quanta
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_usertoolbars
X-KDE-FactoryName=kcm_kdev_usertoolbars
X-KDE-ParentApp=kdevplatform
X-KDE-ParentComponents=kdevplatform
X-KDE-CfgDlgHierarchy=USERINTERFACE

Name=User Toolbars setting
Name[bs]=Korisnicke Alatne trake podešavanja
Name[da]=Indstil brugerværktøjslinjer
Name[de]=Einstellungen für Benutzerwerkzeugleisten
Name[en_GB]=User Toolbars setting
Name[es]=Configuración de la barra de herramientas del usuario
Name[et]=Kasutaja tööriistaribade seadistus
Name[fr]=Configuration des barres d'outils utilisateur
Name[ga]=Socrú UserToolbars
Name[hu]=Felhasználói eszköztárak beállítása
Name[it]=Impostazioni barra degli strumenti dell'utente
Name[nds]=Brukerbalken-Instellen
Name[nl]=Instelling van gebruikerswerkbalken
Name[pl]=Ustawienie pasków narzędzi użytkownika
Name[pt]=Configuração das Barras de Ferramentas do Utilizador
Name[pt_BR]=Configuração das barras de ferramentas do usuário
Name[sk]=Používateľské nastavenia panelov nástrojov
Name[sv]=Inställning av användarverktygsrader
Name[uk]=Налаштування панелей користувача
Name[x-test]=xxUser Toolbars settingxx
Name[zh_CN]=用户工具栏设置
Comment=Configure User Toolbars
Comment[bs]=Konfigurisati Korisnicke Alatne trake
Comment[da]=Indstil brugerværktøjslinjer
Comment[de]=Benutzerwerkzeugleisten einrichten
Comment[en_GB]=Configure User Toolbars
Comment[es]=Configurar las barras de herramientas del usuario
Comment[et]=Kasutaja tööriistaribade seadistamine
Comment[fr]=Configure les barres d'outils utilisateur
Comment[hu]=Felhasználói eszköztárak beállítása
Comment[it]=Configura barra degli strumenti dell'utente
Comment[nds]=Brukerbalkens instellen
Comment[nl]=Gebruikerswerkbalken instellen
Comment[pl]=Konfiguruj paski narzędzi użytkownika
Comment[pt]=Configurar as Barras de Ferramentas dos Utilizadores
Comment[pt_BR]=Configura as barras de ferramentas do usuário
Comment[sk]=Nastaviť používateľské panely nástrojov
Comment[sv]=Anpassa användarverktygsrader
Comment[uk]=Налаштувати панелі користувача
Comment[x-test]=xxConfigure User Toolbarsxx
Comment[zh_CN]=配置用户工具栏
