[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevUserToolbars
GenericName=UserToolbars Plugin
Comment=UserToolbars Description
Icon=kdevelop
X-KDE-ServiceTypes=KDevelop/Plugin,KDevelop/UserToolbars

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevusertoolbars
X-KDE-PluginInfo-Name=KDevUserToolbars
X-KDevelop-Version=10
X-KDevelop-Mode=GUI
