[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevUserToolbars
Name[da]=KDevUserToolbars
Name[de]=KDevUserToolbars
Name[en_GB]=KDevUserToolbars
Name[es]=KDevUserToolbars
Name[et]=KDevUserToolbars
Name[fr]=KDevUserToolbars
Name[it]=KDevUserToolbars
Name[nds]=Brukerbalkens för KDevelop
Name[nl]=KDevUserToolbars
Name[pl]=KDevPaskiNarzędziUżytkownika
Name[pt]=KDevUserToolbars
Name[pt_BR]=KDevUserToolbars
Name[sv]=Kdevelop användarverktygsrader
Name[uk]=KDevUserToolbars
Name[x-test]=xxKDevUserToolbarsxx
Name[zh_CN]=KDevUserToolbars
GenericName=UserToolbars Plugin
GenericName[da]=UserToolbars-plugin
GenericName[de]=Modul für Benutzerwerkzeugleisten
GenericName[en_GB]=UserToolbars Plugin
GenericName[es]=Complemento de las barras de herramientas del usuario
GenericName[et]=Kasutaja tööriistaribade plugin
GenericName[fr]=Module externe UserToolbars
GenericName[it]=Estensione UserToolbars
GenericName[nds]=Brukerbalken-Moduul
GenericName[nl]=Gebruikerswerkbalken-plugin
GenericName[pl]=Wtyczka pasków narzędzi użytkownika
GenericName[pt]='Plugin' das Barras de Ferramentas do Utilizador
GenericName[pt_BR]=Plug-in das barras de ferramentas do usuário
GenericName[sv]=Insticksprogram för användarverktygsrader
GenericName[uk]=Додаток UserToolbars
GenericName[x-test]=xxUserToolbars Pluginxx
GenericName[zh_CN]=用户工具栏插件
Comment=UserToolbars Description
Comment[da]=UserToolbars-beskrivelse
Comment[de]=Beschreibung für Benutzerwerkzeugleisten
Comment[en_GB]=UserToolbars Description
Comment[es]=Descripción de las barras de herramientas del usuario
Comment[et]=Kasutaja tööriistaribade kirjeldus
Comment[fr]=Description de UserToolbars
Comment[it]=Descrizione UserToolbars
Comment[nds]=Beschrieven för Brukerbalken
Comment[nl]=Beschrijving van gebruikerswerkbalken
Comment[pl]=Opis pasków narzędzi użytkownika
Comment[pt]=Descrição das Barras de Ferramentas do Utilizador
Comment[pt_BR]=Descrição das barras de ferramentas do usuário
Comment[sv]=Beskrivning av användarverktygsrader
Comment[uk]=Опис UserToolbars
Comment[x-test]=xxUserToolbars Descriptionxx
Comment[zh_CN]=用户工具栏描述
Icon=kdevelop
X-KDE-ServiceTypes=KDevelop/Plugin,KDevelop/UserToolbars

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) by Andras Mantia

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevusertoolbars
X-KDE-PluginInfo-Name=KDevUserToolbars
X-KDevelop-Version=12
X-KDevelop-Mode=GUI
