[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=DTD/Schema Catalog user interface
GenericName=Xml catalog user interface
Comment=User interface to manage XML schemata and DTD documents
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlcatalogui
X-KDE-PluginInfo-Name=kdevxmlcatalogui
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=11
X-KDevelop-Language=XML
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
