[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=DTD/Schema Catalog user interface
Name[x-test]=xxDTD/Schema Catalog user interfacexx
GenericName=Xml catalog user interface
GenericName[x-test]=xxXml catalog user interfacexx
Comment=User interface to manage XML schemata and DTD documents
Comment[x-test]=xxUser interface to manage XML schemata and DTD documentsxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlcatalogui
X-KDE-PluginInfo-Name=kdevxmlcatalogui
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=10
X-KDevelop-Language=XML
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
