[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=DTD/Schema Catalog user interface
Name[da]=Brugerflade til DTD-/skemakatalog
Name[en_GB]=DTD/Schema Catalogue user interface
Name[es]=Interfaz de usuario de catálogo de esquemas o DTD
Name[et]=DTD/skeemi kataloogi kasutajaliides
Name[fr]=Interface utilisateur de catalogues de DTD/Schémas
Name[it]=Interfaccia utente catalogo o schema DTD
Name[pt]=Interface de utilizador de Catálogos DTD/Esquemas
Name[pt_BR]=Interface do usuário para catálogo de DTD/Esquemas
Name[sv]=Användargränssnitt för DTD eller Schema-katalog
Name[uk]=Інтерфейс каталогу DTD/Schema
Name[x-test]=xxDTD/Schema Catalog user interfacexx
GenericName=Xml catalog user interface
GenericName[da]=Brugerflade til XML-katalog
GenericName[en_GB]=Xml catalogue user interface
GenericName[es]=Interfaz de usuario de catálogo XML
GenericName[et]=XML-kataloogi kasutajaliides
GenericName[fr]=Interface utilisateur de catalogues XML
GenericName[it]=Interfaccia utente catalogo xml
GenericName[pt]=Interface de utilizador de catálogos XML
GenericName[pt_BR]=Interface do usuário para catálogo XML
GenericName[sv]=Användargränssnitt för XML-katalog
GenericName[uk]=Інтерфейс користувача до каталогу XML
GenericName[x-test]=xxXml catalog user interfacexx
Comment=User interface to manage XML schemata and DTD documents
Comment[da]=Brugerflade til håndtering af XML-skematik og DTD-dokumenter
Comment[en_GB]=User interface to manage XML schemata and DTD documents
Comment[es]=Interfaz de usuario para gestionar esquemas XML y documentos DTD
Comment[et]=XML-skeemide ja DTD dokumentide haldamise kasutajaliides
Comment[fr]=Interface utilisateur pour gérer des schemata XML et des documents de DTD
Comment[it]=Interfaccia utente per gestire gli schemi XML e DTD dei documenti
Comment[pt]=Uma interface de utilizador para gerir esquemas em XML e documentos DTD
Comment[pt_BR]=Interface do usuário para gerenciar esquemas XML e documentos DTD
Comment[sv]=Användargränssnitt för att hantera XML-scheman och DTD-dokument
Comment[uk]=Інтерфейс користувача для керування схемами XML та документами DTD
Comment[x-test]=xxUser interface to manage XML schemata and DTD documentsxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlcatalogui
X-KDE-PluginInfo-Name=kdevxmlcatalogui
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=12
X-KDevelop-Language=XML
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
