[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=XML Document Tree
Name[en_GB]=XML Document Tree
Name[es]=Árbol de documento XML
Name[pt]=Árvore do Documento XML
Name[sv]=XML-dokumentträd
Name[uk]=Ієрархія документа XML
Name[x-test]=xxXML Document Treexx
GenericName=XML Document Tree
GenericName[en_GB]=XML Document Tree
GenericName[es]=Árbol de documento XML
GenericName[pt]=Árvore do Documento XML
GenericName[sv]=XML-dokumentträd
GenericName[uk]=Ієрархія документа XML
GenericName[x-test]=xxXML Document Treexx
Comment=Displays the XML structure as a tree
Comment[en_GB]=Displays the XML structure as a tree
Comment[es]=Muestra la estructura XML en forma de árbol
Comment[pt]=Mostra a estrutura do XML como uma árvore
Comment[sv]=Visar XML-strukturen som ett träd
Comment[uk]=Показує деревоподібну структуру XML
Comment[x-test]=xxDisplays the XML structure as a treexx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmldocument
X-KDE-PluginInfo-Name=kdevxmldocument
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=7
X-KDevelop-Language=XML
X-KDevelop-Category=Global
X-KDevelop-SupportedMimeTypes=text/xml,application/xml,application/xslt+xml,application/xsd,application/xsd+xml,application/x-wsdl,application/wsdl+xml
X-KDevelop-Mode=GUI
