[Desktop Entry]
Icon=kxsldbg
Type=Service
ServiceTypes=KCModule
Name=KXSLDbg Settings
Name[en_GB]=KXSLDbg Settings
Name[es]=Configuración KXSLDbg
Name[pt]=Configuração do KXSLDbg
Name[pt_BR]=Configuração do KXSLDbg
Name[sv]=KXSL-felsökare inställningar
Name[uk]=Параметри KXSLDbg
Name[x-test]=xxKXSLDbg Settingsxx
Name[zh_TW]=KXSLDbg 設定
GenericName=KXSLDbg Plugin
GenericName[en_GB]=KXSLDbg Plugin
GenericName[es]=Complemento KXSLDbg
GenericName[pt]='Plugin' do KXSLDbg
GenericName[pt_BR]=Plug-in do KXSLDbg
GenericName[sv]=KXSL-felsökare insticksprogram
GenericName[uk]=Додаток KXSLDbg
GenericName[x-test]=xxKXSLDbg Pluginxx
GenericName[zh_TW]=KXSLDbg 外掛程式
Comment=Configure KXSLDbg Settings
Comment[en_GB]=Configure KXSLDbg Settings
Comment[es]=Configura los ajustes de KXSLDbg
Comment[pt]=Configurar as Opções do KXSLDbg
Comment[pt_BR]=Configura as opções do KXSLDbg
Comment[sv]=Anpassa inställningar av KXSL-felsökare
Comment[uk]=Налаштувати параметри KXSLDbg
Comment[x-test]=xxConfigure KXSLDbg Settingsxx
Comment[zh_TW]=設定 KXSLDbg

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-BugsEmailAddress=keith@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Keith Isdale
X-KDevelop-Plugin-License=GPL


X-KDevelop-Args=

X-KDE-PluginInfo-Name=KCmKDevKXSLDbg
X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_kxsldbg
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject
X-KDE-CfgDlgHierarchy=GENERAL
X-KDevelop-Category=Global
X-KDevelop-Version=8
