[Desktop Entry]
Icon=kxsldbg
Type=Service
ServiceTypes=KCModule
Name=KXSLDbg Settings
Name[uk]=Параметри KXSLDbg
GenericName=KXSLDbg Plugin
GenericName[uk]=Додаток KXSLDbg
Comment=Configure KXSLDbg Settings
Comment[uk]=Налаштувати параметри KXSLDbg

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-BugsEmailAddress=keith@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Keith Isdale
X-KDevelop-Plugin-License=GPL


X-KDevelop-Args=

X-KDE-PluginInfo-Name=KCmKDevKXSLDbg
X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_kxsldbg
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject
X-KDE-CfgDlgHierarchy=GENERAL
X-KDevelop-Category=Global
X-KDevelop-Version=7
