[Desktop Entry]
Icon=kxsldbg
Type=Service
ServiceTypes=KCModule
Name=KXSLDbg Settings
Name[de]=KXSLDbg-Einstellungen
Name[el]=Ρυθμίσεις KXSLDbg
Name[et]=KXSLDbg seadistused
Name[fr]=Paramètres de KXSLDbg
Name[ga]=Socruithe KXSLDbg
Name[gl]=Configuración de KXSLDbg
Name[it]=Impostazioni di KXSLDbg
Name[pt]=Configuração do KXSLDbg
Name[pt_BR]=Configuração do KXSLDbg
Name[sv]=KXSL-felsökare inställningar
Name[tr]=KXSLDbg Ayarları
Name[uk]=Параметри KXSLDbg
Name[x-test]=xxKXSLDbg Settingsxx
Name[zh_TW]=KXSLDbg 設定
GenericName=KXSLDbg Plugin
GenericName[de]=KXSLDbg-Modul
GenericName[el]=Πρόσθετο KXSLDbg
GenericName[et]=KXSLDbg plugin
GenericName[fr]=Module KXSLDbg
GenericName[ga]=Breiseán KXSLDbg
GenericName[gl]=Extensión para KXSLDbg
GenericName[it]=Plugin di KXSLDbg
GenericName[pt]='Plugin' do KXSLDbg
GenericName[pt_BR]='Plugin' do KXSLDbg
GenericName[sv]=KXSL-felsökare insticksprogram
GenericName[tr]=KXSLDbg Eklentisi
GenericName[uk]=Додаток KXSLDbg
GenericName[x-test]=xxKXSLDbg Pluginxx
GenericName[zh_TW]=KXSLDbg 外掛程式
Comment=Configure KXSLDbg Settings
Comment[de]=KXSLDbg einrichten
Comment[el]=Ρύθμιση επιλογών KXSLDbg
Comment[et]=KXSLDbg seadistamine
Comment[fr]=Configurer KXSLDbg
Comment[ga]=Cumraigh Socruithe KXSLDbg
Comment[gl]=Configura KXSLDbg
Comment[it]=Configura le impostazioni di KXSLDbg
Comment[pt]=Configurar as Opções do KXSLDbg
Comment[pt_BR]=Configurar as Opções do KXSLDbg
Comment[sv]=Anpassa inställningar av KXSL-felsökare
Comment[tr]=KXSLDbg Ayarlarını Yapılandır
Comment[uk]=Налаштувати параметри KXSLDbg
Comment[x-test]=xxConfigure KXSLDbg Settingsxx
Comment[zh_TW]=設定 KXSLDbg

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-BugsEmailAddress=keith@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Keith Isdale
X-KDevelop-Plugin-License=GPL


X-KDevelop-Args=

X-KDE-PluginInfo-Name=KCmKDevKXSLDbg
X-KDE-ModuleType=Library
X-KDE-Library=kcm_kdev_kxsldbg
X-KDE-ParentApp=kdevplatformproject
X-KDE-ParentComponents=kdevplatformproject
X-KDE-CfgDlgHierarchy=GENERAL
X-KDevelop-Category=Global
X-KDevelop-Version=6
