[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=KDevKXSLDbg
Name[x-test]=xxKDevKXSLDbgxx
GenericName=KXSLDbg Plugin
GenericName[fr]=
GenericName[ga]=
GenericName[pt]=
GenericName[pt_BR]=
GenericName[tr]=
GenericName[uk]=
GenericName[zh_TW]=
GenericName[x-test]=xxKXSLDbg Pluginxx
Comment=Debug XSLT scripts using KXSLDbg
Comment[fr]=
Comment[ga]=
Comment[pt]=
Comment[pt_BR]=
Comment[tr]=
Comment[uk]=
Comment[x-test]=xxDebug XSLT scripts using KXSLDbgxx
Comment[zh_TW]=
Icon=xsldbg-source
X-KDE-PluginInfo-Name=KDevKXSLDbg
X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org
X-KDevelop-Plugin-BugsEmailAddress=keith@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Keith Isdale
X-KDevelop-Plugin-License=GPL
X-KDE-Library=libkdevkxsldbg
X-KDevelop-Version=4
X-KDevelop-Category=Global
X-KDevelop-Properties=Quanta-KXSLDbg
X-KDevelop-Args=
X-KDE-ServiceTypes=KDevelop/Plugin
