[Desktop Entry]
Encoding=UTF-8
Exec=blubb
Type=Service
Name=KDevKXSLDbg
GenericName=KXSLDbg Plugin
GenericName[ga]=Breiseán KXSLDbg
Comment=Debug XSLT scripts using KXSLDbg
Comment[ga]=Dífhabhtaigh scripteanna XSLT le KXSLDbg
Icon=xsldbg-source
X-KDE-PluginInfo-Name=KDevKXSLDbg
X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org
X-KDevelop-Plugin-BugsEmailAddress=keith@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Keith Isdale
X-KDevelop-Plugin-License=GPL
X-KDE-Library=libkdevkxsldbg
X-KDevelop-Version=4
X-KDevelop-Category=Global
X-KDevelop-Properties=Quanta-KXSLDbg
X-KDevelop-Args=
X-KDE-ServiceTypes=KDevelop/Plugin
X-KDevelop-IRequired=org.kdevelop.IOutputView
