[Desktop Entry]
Exec=blubb
Type=Service
Name=KDevKXSLDbg
Name[uk]=KDevKXSLDbg
GenericName=KXSLDbg Plugin
GenericName[uk]=Додаток KXSLDbg
Comment=Debug XSLT scripts using KXSLDbg
Comment[uk]=Зневаджувати скрипти XSLT за допомогою KXSLDbg
Icon=xsldbg-source
X-KDE-PluginInfo-Name=KDevKXSLDbg
X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org
X-KDevelop-Plugin-BugsEmailAddress=keith@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Keith Isdale
X-KDevelop-Plugin-License=GPL
X-KDE-Library=libkdevkxsldbg
X-KDevelop-Version=7
X-KDevelop-Category=Global
X-KDevelop-Args=
X-KDE-ServiceTypes=KDevelop/Plugin
X-KDevelop-IRequired=org.kdevelop.IOutputView
X-KDevelop-Mode=GUI
