<!DOCTYPE kpartgui>
<kpartplugin name="kdevkxsldbg" library="libkdevkxsldbg" version="1">
<MenuBar>
   <Menu name="project">
        <Action name="project_kxsldbg_run"/>
    </Menu>
  <Menu name="debug"><text>Debug</text>
	<Action name="configureCmd"/>
	<Action name="inspectCmd"/>
	<Action name="runCmd"/>
	<Action name="continueCmd"/>
	<Action name="stepCmd"/>
	<Action name="nextCmd"/>
	<Separator/>
	<Action name="stepupCmd"/>
	<Action name="stepdownCmd"/>
	<Separator/>
	<Action name="breakCmd"/>
	<Action name="deleteCmd"/>
	<Action name="enableCmd"/>
	<Separator/>
	<Action name="sourceCmd"/>
	<Action name="dataCmd"/>	
	<Action name="outputCmd"/>
	<Action name="refreshCmd"/>
	<Separator/>
	<Action name="walkCmd"/>
	<Action name="walkStopCmd"/>
	<Action name="traceCmd"/>
	<Action name="traceStopCmd"/>
	<Separator/>
	<Action name="evaluateCmd"/>
	<Action name="gotoXPathCmd"/>
	<Action name="lookupSystemID"/>
	<Action name="lookupPublicID"/>
  </Menu>
  <Menu noMerge="1" name="settings"><text>&amp;Settings</text>
    <Action name="options_show_toolbar"/>
    <Action name="options_show_statusbar"/>
    <Merge name="show_merge"/>
    <Separator/>
    <Action name="options_configure_keybinding"/>
    <Action name="options_configure_toolbars"/>
    <Action name="options_configure"/>
    <Merge name="configure_merge"/>
    <Separator/>
    <Merge/>
  </Menu>
</MenuBar>
<ToolBar noMerge="1" name="mainToolBar"><text>Main Toolbar</text>
  <Merge/>
  <Action name="help"/>
</ToolBar>
<ToolBar name="debugToolBar">
	<Action name="configureCmd"/>
	<Action name="inspectCmd"/>
	<Action name="runCmd"/>
	<Action name="continueCmd"/>
	<Action name="stepCmd"/>
	<Action name="nextCmd"/>
	<Separator/>
	<Action name="stepupCmd"/>
	<Action name="stepdownCmd"/>
	<Separator/>
	<Action name="breakCmd"/>
	<Action name="deleteCmd"/>
	<Action name="enableCmd"/>
	<Separator/>
	<Action name="sourceCmd"/>
	<Action name="dataCmd"/>
	<Action name="outputCmd"/>
	<Action name="refreshCmd"/>
        <Separator/>	
   </ToolBar>
</kpartplugin>
