[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevHTMLPreview
Name[de]=KDevHTMLPreview
Name[es]=KDevHTMLPreview
Name[fr]=KDevHTMLPreview
Name[it]=KDevHTMLPreview
Name[nds]=HTML-Vöransicht för KDevelop
Name[pt]=KDevHTMLPreview
Name[pt_BR]=KDevHTMLPreview
Name[sv]=KDevelop HTML-förhandsgranskning
Name[uk]=KDevHTMLPreview
Name[x-test]=xxKDevHTMLPreviewxx
Name[zh_CN]=KDevHTMLPreview
GenericName=HTMLPreview Plugin
GenericName[de]=HTML-Vorschau-Modul
GenericName[es]=Complemento HTMLPreview
GenericName[fr]=Module externe HTMLPreview
GenericName[it]=Estensione HTMLPreview
GenericName[nds]=HTML-Vöransichtmoduul
GenericName[pt]='Plugin' de Antevisão em HTML
GenericName[pt_BR]=Plug-in de visualização HTML
GenericName[sv]=Insticksprogram för HTML-förhandsgranskning
GenericName[uk]=Додаток HTMLPreview
GenericName[x-test]=xxHTMLPreview Pluginxx
GenericName[zh_CN]=HTML 预览插件
Comment=HTMLPreview Description
Comment[de]=HTML-Vorschau-Beschreibung
Comment[es]=Descripción HTMLPreview
Comment[fr]=Description de HTMLPreview
Comment[it]=Descrizione HTMLPreview
Comment[nds]=Beschrieven för de HTML-Vöransicht
Comment[pt]=Descrição da Antevisão em HTML
Comment[pt_BR]=Descrição da visualização HTML
Comment[sv]=Beskrivning av HTML-förhandsgranskning
Comment[uk]=Опис HTMLPreview
Comment[x-test]=xxHTMLPreview Descriptionxx
Comment[zh_CN]=HTML 预览描述
Icon=konqueror
X-KDE-ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevhtmlpreview
X-KDE-PluginInfo-Name=KDevHTMLPreview
X-KDevelop-Version=10
X-KDevelop-Mode=GUI
