[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=XML Formatter
Name[en_GB]=XML Formatter
Name[es]=Formateador XML
Name[pt]=Formatação de XML
Name[sv]=XML-formatering
Name[uk]=Форматування XML
Name[x-test]=xxXML Formatterxx
GenericName=XML Formatter
GenericName[en_GB]=XML Formatter
GenericName[es]=Formateador XML
GenericName[pt]=Formatação de XML
GenericName[sv]=XML-formatering
GenericName[uk]=Форматування XML
GenericName[x-test]=xxXML Formatterxx
Comment=A plugin for formatting XML files
Comment[en_GB]=A plugin for formatting XML files
Comment[es]=Un complemento para formatear archivos XML
Comment[pt]=Um 'plugin' para formatar os ficheiros em XML
Comment[sv]=Ett insticksprogram för att formatera XML-filer
Comment[uk]=Додаток для форматування файлів XML
Comment[x-test]=xxA plugin for formatting XML filesxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlformatter
X-KDevelop-Version=7
X-KDE-PluginInfo-Name=kdevxmlformatter
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.ISourceFormatter
X-KDevelop-SupportedMimeTypes=text/xml,application/xml,application/xsd,application/xsd+xml,application/xslt+xml,application/wsdl+xml,application/x-wsdl
X-KDevelop-Mode=NoGUI
