[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=XML Formatter
GenericName=XML Formatter
Comment=A plugin for formatting XML files
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmlformatter
X-KDevelop-Version=8
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Name=kdevxmlformatter
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Category=Global
X-KDevelop-Interfaces=org.kdevelop.ISourceFormatter
X-KDevelop-SupportedMimeTypes=application/xml,application/xsd,application/xslt+xml,application/wsdl+xml
X-KDevelop-Mode=NoGUI
