[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=server-database
Name=KDevSqlSupport
Name[x-test]=xxKDevSqlSupportxx
GenericName=Sql Support
GenericName[x-test]=xxSql Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevsqllanguagesupport
X-KDE-PluginInfo-Name=kdevsqllanguagesupport
X-KDevelop-Version=10
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
#X-KDevelop-Language=Sql
#X-KDevelop-SupportedMimeTypes=text/sql
