[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=server-database
Name=KDevSqlSupport
Name[es]=KDevSqlSupport
Name[fr]=KDevSqlSupport
Name[pt]=KDevSqlSupport
Name[pt_BR]=KDevSqlSupport
Name[sv]=KDevelop SQL-stöd
Name[uk]=KDevSqlSupport
Name[x-test]=xxKDevSqlSupportxx
GenericName=Sql Support
GenericName[es]=Implementación de Sql
GenericName[fr]=Prise en charge de SQL
GenericName[pt]=Suporte para SQL
GenericName[pt_BR]=Suporte a SQL
GenericName[sv]=SQL-stöd
GenericName[uk]=Підтримка SQL
GenericName[x-test]=xxSql Supportxx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevsqllanguagesupport
X-KDE-PluginInfo-Name=kdevsqllanguagesupport
X-KDevelop-Version=10
X-KDevelop-Category=Global
X-KDevelop-Mode=GUI
#X-KDevelop-Language=Sql
#X-KDevelop-SupportedMimeTypes=text/sql
