<!DOCTYPE kpartgui>
<kpartgui name="kdevsql" library="kdevsql" version="1">
<MenuBar>
 <Menu name="run">
  <text context="@title:menu">Run</text>

  <Action name="run_sql" group="run_operations"/>

 </Menu>
</MenuBar>

</kpartgui>

