[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevTagDialogs
GenericName=TagDialogs Plugin
Comment=TagDialogs Description
Icon=view_sidetree
X-KDE-ServiceTypes=KDevelop/Plugin,KDevelop/TagDialogs

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) 2005, Andras Mantia

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevtagdialogs
X-KDE-PluginInfo-Name=KDevTagDialogs
X-KDevelop-Version=12
X-KDevelop-Properties=Quanta,Quanta-TagDialogs
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
