[Desktop Entry]
Type=Service
Exec=blubb
Name=KDevTagDialogs
Name[da]=KDevTagDialogs
Name[de]=KDevTagDialogs
Name[en_GB]=KDevTagDialogues
Name[es]=KDevTagDialogs
Name[et]=KDevTagDialogs
Name[fr]=KDevTagDialogs
Name[ga]=KDevTagDialogs
Name[it]=KDevTagDialogs
Name[nds]=Beteker-Dialogen för KDevelop
Name[nl]=KDevTagDialogs
Name[pl]=KDevTagDialogs
Name[pt]=KDevTagDialogs
Name[pt_BR]=KDevTagDialogs
Name[sv]=Kdevelop taggdialogrutor
Name[uk]=KDevTagDialogs
Name[x-test]=xxKDevTagDialogsxx
Name[zh_CN]=KDevTagDialogs
GenericName=TagDialogs Plugin
GenericName[da]=TagDialogs-plugin
GenericName[de]=Tag-Dialog-Modul
GenericName[en_GB]=TagDialogues Plugin
GenericName[es]=Complemento TagDialogs
GenericName[et]=Sildidialoogide plugin
GenericName[fr]=Module externe TagDialogs
GenericName[it]=Estensione TagDialogs
GenericName[nds]=Moduul Beteker-Dialogen
GenericName[nl]=Tagdialogen-plugin
GenericName[pl]=Wtyczka TagDialogs
GenericName[pt]='Plugin' das Janelas de Marcas
GenericName[pt_BR]=Plug-in das janelas de marcas
GenericName[sv]=Insticksprogram för taggdialogrutor
GenericName[uk]=Додаток TagDialogs
GenericName[x-test]=xxTagDialogs Pluginxx
GenericName[zh_CN]=标签对话框插件
Comment=TagDialogs Description
Comment[da]=TagDialogs-beskrivelse
Comment[de]=Tag-Dialog-Beschreibung
Comment[en_GB]=TagDialogues Description
Comment[es]=Descripción de TagDialogs
Comment[et]=Sildidialoogide kirjeldus
Comment[fr]=Description de TagDialogs
Comment[ga]=Cur Síos TagDialogs
Comment[it]=Descrizione TagDialogs
Comment[nds]=Beschrieven för Beteker-Dialogen
Comment[nl]=Beschrijving van tag-dialogen
Comment[pl]=Opis TagDialogs
Comment[pt]=Descrição das Janelas de Marcas
Comment[pt_BR]=Descrição das janelas de marcas
Comment[sv]=Beskrivning av taggdialogrutor
Comment[uk]=Опис TagDialogs
Comment[x-test]=xxTagDialogs Descriptionxx
Comment[zh_CN]=标签对话框描述
Icon=view_sidetree
X-KDE-ServiceTypes=KDevelop/Plugin,KDevelop/TagDialogs

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=amantia@kde.org
X-KDevelop-Plugin-Copyright=(C) 2005, Andras Mantia

X-KDevelop-Args=

X-KDevelop-Category=Global
X-KDE-Library=libkdevtagdialogs
X-KDE-PluginInfo-Name=KDevTagDialogs
X-KDevelop-Version=12
X-KDevelop-Properties=Quanta,Quanta-TagDialogs
X-KDevelop-IRequired=org.kdevelop.QuantaCoreIf
