[Desktop Entry]
Type=Service
Exec=kcmshell4 --caption %c %i khtml_behavior khtml_java_js khtml_fonts cookies cache proxy kcmcss crypto useragent khtml_plugins
Icon=konqueror
X-DocPath=konqueror/index.html
Name=Configure KHTML Browser Part
Name[bs]=Konfiguracija KHTML pretraživaca dio
Name[ca]=Configura la part del navegador KHTML
Name[ca@valencia]=Configura la part del navegador KHTML
Name[da]=Indstil KHTML browser-Part
Name[de]=Einrichten der KHTML-Browserkomponente
Name[en_GB]=Configure KHTML Browser Part
Name[es]=Configurar la parte del navegador KHTML
Name[et]=KHTML brauseri komponendi seadistamine
Name[fi]=KHTML-selainosan asetukset
Name[fr]=Configuration du composant de navigateur KHTML
Name[ga]=Cumraigh Comhpháirt Brabhsálaí KHTML
Name[gl]=Configurar a parte de navegador de KHTML
Name[hu]=A KHTML böngészőobjektum beállítása
Name[it]=Configura il componente del browser KHTML
Name[nds]=KHTML-Kiekerkomponent inrichten
Name[nl]=KHTML Browser Part configuratie
Name[pl]=Konfiguruj moduł przeglądarki KHTML
Name[pt]=Configurar a Componente de Navegação HTML
Name[pt_BR]=Configurar o componente KHTML do navegador
Name[sk]=Nastaviť časť prehliadača KHTML
Name[sv]=Anpassa delprogrammet för webbläsning KHTML
Name[uk]=Налаштувати компонент перегляду KHTML
Name[x-test]=xxConfigure KHTML Browser Partxx
Name[zh_CN]=配置 KHTML 浏览器部件
