[Desktop Entry]
Type=Service
Exec=kcmshell4 --caption %c %i khtml_behavior khtml_java_js khtml_fonts cookies cache proxy kcmcss crypto useragent khtml_plugins
Icon=konqueror
X-DocPath=konqueror/index.html
Name=Configure KHTML Browser Part
