[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Markup Language Support
Comment[da]=Understøttelse af opmærkningssprog
Comment[en_GB]=Markup Language Support
Comment[es]=Implementación de lenguaje de marcas
Comment[et]=Märkekeele toetus
Comment[fr]=Prise en charge des langages de marquage
Comment[it]=Supporto al linguaggio marcatore
Comment[pt]=Suporte a Linguagens de Formatação
Comment[pt_BR]=Suporte à linguagem de marcação
Comment[sv]=Stöd för taggspråk
Comment[uk]=Підтримка мов розмітки
Comment[x-test]=xxMarkup Language Supportxx
Name=KDevSgmlSupport
Name[da]=KDevSgmlSupport
Name[en_GB]=KDevSgmlSupport
Name[es]=KDevSgmlSupport
Name[et]=KDevSgmlSupport
Name[fr]=KDevSgmlSupport
Name[it]=KDevSgmlSupport
Name[pt]=KDevSgmlSupport
Name[pt_BR]=KDevSgmlSupport
Name[sv]=KDevelop SGML-stöd
Name[uk]=KDevSgmlSupport
Name[x-test]=xxKDevSgmlSupportxx
Name[zh_CN]=KDevSgml 支持
GenericName=Markup Language Support
GenericName[da]=Understøttelse af opmærkningssprog
GenericName[en_GB]=Markup Language Support
GenericName[es]=Implementación de lenguaje de marcas
GenericName[et]=Märkekeele toetus
GenericName[fr]=Prise en charge des langages de marquage
GenericName[it]=Supporto al linguaggio marcatore
GenericName[pt]=Suporte a Linguagens de Formatação
GenericName[pt_BR]=Suporte à linguagem de marcação
GenericName[sv]=Stöd för taggspråk
GenericName[uk]=Підтримка мов розмітки
GenericName[x-test]=xxMarkup Language Supportxx
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevsgmllanguagesupport
X-KDevelop-Version=11
X-KDevelop-Language=Sgml
X-KDevelop-Args=Sgml
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/html,application/xml-dtd,application/docbook+xml,application/xhtml+xml,text/xml,application/xml,application/xslt+xml,application/xsd,application/wsdl+xml,application/x-wsdl
X-KDE-PluginInfo-Name=KDevSgmlSupport
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn

