[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Comment=Markup Language Support
Comment[es]=Implementación de lenguaje de marcas
Comment[fr]=Prise en charge des langages de marquage
Comment[pt]=Suporte a Linguagens de Formatação
Comment[pt_BR]=Suporte à linguagem de marcação
Comment[uk]=Підтримка мов розмітки
Comment[x-test]=xxMarkup Language Supportxx
Name=KDevSgmlSupport
Name[es]=KDevSgmlSupport
Name[fr]=KDevSgmlSupport
Name[pt]=KDevSgmlSupport
Name[pt_BR]=KDevSgmlSupport
Name[uk]=KDevSgmlSupport
Name[x-test]=xxKDevSgmlSupportxx
GenericName=Markup Language Support
GenericName[es]=Implementación de lenguaje de marcas
GenericName[fr]=Prise en charge des langages de marquage
GenericName[pt]=Suporte a Linguagens de Formatação
GenericName[pt_BR]=Suporte à linguagem de marcação
GenericName[uk]=Підтримка мов розмітки
GenericName[x-test]=xxMarkup Language Supportxx
ServiceTypes=KDevelop/Plugin
Icon=source
X-KDE-Library=kdevsgmllanguagesupport
X-KDevelop-Version=10
X-KDevelop-Language=Sgml
X-KDevelop-Args=Sgml
X-KDevelop-Interfaces=ILanguageSupport
X-KDevelop-SupportedMimeTypes=text/html,application/xml-dtd,application/docbook+xml,application/xhtml+xml,text/xml,application/xml,application/xslt+xml,application/xsd,application/wsdl+xml,application/x-wsdl
X-KDE-PluginInfo-Name=KDevSgmlSupport
X-KDevelop-Mode=NoGUI
X-KDevelop-LoadMode=AlwaysOn

