[Desktop Entry]
Icon=
Name=KDevelop Project Interface
Name[de]=KDevelop-Projektschnittstelle
Name[el]=Διασύνδεση έργου KDevelop
Name[ga]=Comhéadan Tionscadail KDevelop
Name[gl]=Interface do proxecto KDevelop
Name[it]=Interfaccia con il progetto KDevelop
Name[ja]=KDevelop プロジェクトインターフェース
Name[ne]=केडीई विकास परियोजना इन्टरफेस
Name[pa]=KDevelop ਪ੍ਰੋਜੈਕਟ ਇੰਟਰਫੇਸ
Name[pt]=Interface para Projectos do KDevelop
Name[pt_BR]=Interface para Projectos do KDevelop
Name[sv]=KDevelop-projektgränssnitt
Name[x-test]=xxKDevelop Project Interfacexx
Name[zh_CN]=KDevelop 工程界面
Name[zh_TW]=KDevelop 專案介面
Type=ServiceType
X-KDE-Derived=KDevelop/Plugin
X-KDE-ServiceType=KDevelop/Quanta

[PropertyDef::X-KDevelop-Version]
Type=int
