[Desktop Entry]
Icon=
Name=KDevelop Project Interface
Name[bs]=KDevelop  projekat Interfejs
Name[ca]=Interfície de projecte del KDevelop
Name[ca@valencia]=Interfície de projecte del KDevelop
Name[da]=KDevelop projektbrugerflade
Name[de]=KDevelop-Projektschnittstelle
Name[en_GB]=KDevelop Project Interface
Name[es]=Interfaz de proyectos KDevelop
Name[et]=KDevelopi projekti liides
Name[fr]=Interface de projet KDevelop
Name[ga]=Comhéadan Tionscadail KDevelop
Name[gl]=Interface de proxectos de KDevelop
Name[hu]=KDevelop projektfelület
Name[it]=Interfaccia progetto di KDevelop
Name[nds]=Projektkoppelsteed för KDevelop
Name[nl]=KDevelop Projectinterface
Name[pl]=Interfejs projektu KDevelop
Name[pt]=Interface para Projectos do KDevelop
Name[pt_BR]=Interface para projetos do KDevelop
Name[sk]=Rozhranie projektu KDevelop
Name[sv]=KDevelop-projektgränssnitt
Name[uk]=Інтерфейс проекту KDevelop
Name[x-test]=xxKDevelop Project Interfacexx
Name[zh_CN]=KDevelop 项目接口
Type=ServiceType
X-KDE-Derived=KDevelop/Plugin
X-KDE-ServiceType=KDevelop/Quanta

[PropertyDef::X-KDevelop-Version]
Type=int
