[Desktop Entry]
Encoding=UTF-8
Icon=
Name=KDevelop Project Interface
Name[el]=Διασύνδεση έργου KDevelop
Name[it]=Interfaccia con il progetto KDevelop
Name[ja]=KDevelop プロジェクトインターフェース
Name[pa]=KDevelop ਪ੍ਰੋਜੈਕਟ ਇੰਟਰਫੇਸ
Name[pt]=Interface para Projectos do KDevelop
Name[pt_BR]=Interface para Projectos do KDevelop
Name[sv]=KDevelop-projektgränssnitt
Name[x-test]=xxKDevelop Project Interfacexx
Type=ServiceType
X-KDE-Derived=KDevelop/Plugin
X-KDE-ServiceType=KDevelop/Quanta

[PropertyDef::X-KDevelop-Version]
Type=int
