[Desktop Entry]
Categories=Qt;KDE;Development;
Comment=
Exec=quanta %u
GenericName=IDE for Web Development
Icon=quanta
MimeType=application/x-kdevelop;application/x-php;text/css;application/docbook+xml;text/html;application/xml;
Name=Quanta Plus
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-StartupType=multi
X-KDE-SubstituteUID=false
X-KDE-Username=
