[Desktop Entry]
Encoding=UTF-8
Name=Quanta Plus BE
GenericName=Web Development Environment
Exec=quanta_be
Icon=quanta_be
Type=Application
MimeType=text/html;application/x-webprj
DocPath=quanta/index.html
Comment=Web Development Environment
Categories=Qt;KDE;Development;
