[Desktop Entry]
Categories=Qt;KDE;Development;
Comment=
Encoding=UTF-8
Exec=quanta %u
GenericName=IDE for Web Development
GenericName[el]=Περιβάλλον ανάπτυξης ιστοσελίδων
GenericName[it]=Ambiente integrato per lo sviluppo Web
GenericName[sv]=Integrerad webbutvecklingsmiljö
GenericName[x-test]=xxIDE for Web Developmentxx
Icon=quanta
MimeType=application/x-kdevelop;application/x-php;text/css;application/docbook+xml;text/html;application/xml;
Name=Quanta Plus
Name[br]=Quanta+
Name[sv]=Quanta plus
Name[ta]=குவாண்டா ப்ளஸ்
Name[x-test]=xxQuanta Plusxx
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-StartupType=multi
X-KDE-SubstituteUID=false
X-KDE-Username=
