[Desktop Entry]
Encoding=UTF-8
Name=Quanta Plus BE
Name[fa]=کوانتا پلاس (Quanta Plus BE)
Name[xx]=xxQuanta Plus BExx
Exec=quanta_be
Icon=quanta_be
Type=Application
MimeType=text/html
DocPath=quanta/index.html
Comment=Web Development Environment
Comment[ca]=Entorn de desenvolupament web
Comment[cs]=Vývojové prostředí pro web
Comment[da]=Webudviklermiljø
Comment[de]=Web-Entwicklungsumgebung
Comment[es]=Entorno de desarrollo Web
Comment[et]=Veebiarenduskeskkond
Comment[fa]=محیط برنامه‌نویسی اینترنتی
Comment[fr]=Environnement de développement Internet
Comment[hu]=Webfejlesztő környezet
Comment[it]=Ambiente per lo sviluppo Web
Comment[pt]=Ambiente de desenvolvimento Web
Comment[pt_BR]=Ambiente de Desenvolvimento Web
Comment[ru]=Среда для веб-разработки
Comment[sr]=Средина за веб развој
Comment[sv]=Webbutvecklingsmiljö
Comment[xx]=xxWeb Development Environmentxx
Categories=Qt;KDE;Development
