[Desktop Entry]
Categories=Qt;KDE;Development;
Comment=
Exec=quanta %u
GenericName=IDE for Web Development
GenericName[da]=IDE til webudvikling
GenericName[de]=Web-Entwicklungsumgebung
GenericName[el]=Περιβάλλον ανάπτυξης ιστοσελίδων
GenericName[es]=IDE para desarrollo web
GenericName[et]=Veebiarenduskeskkond
GenericName[fa]=IDE برای توسعۀ وب
GenericName[fi]=Verkkosivujen kehitysympäristö
GenericName[fr]=Environnement de développement d'application Web
GenericName[ga]=Timpeallacht Chomhtháite Forbartha le haghaidh Forbartha Gréasáin
GenericName[gl]=IDE para desenvolvimento de webs
GenericName[it]=Ambiente integrato per lo sviluppo Web
GenericName[ko]=웹 통합 개발 환경
GenericName[nds]=Smeed för Nettsieden
GenericName[ne]=वेब विकासका लागि आईडीई
GenericName[nl]=IDE voor webontwikkeling
GenericName[pa]=ਵੈਬ ਡੀਵੈਲਪਮਿੰਟ ਲਈ IDE
GenericName[pl]=Środowisko do tworzenia stron internetowych
GenericName[pt]=IDE de Desenvolvimento Web
GenericName[pt_BR]=Ambiente de desenvolvimento integrado para Web
GenericName[sv]=Integrerad webbutvecklingsmiljö
GenericName[th]=IDE สำหรับการพัฒนาเว็บ
GenericName[tr]=Web Geliştirme Ortamı
GenericName[uk]=Середовище для веб-розробки
GenericName[x-test]=xxIDE for Web Developmentxx
GenericName[zh_CN]=可视化 Web 集成开发环境
GenericName[zh_TW]=網頁開發整合環境
Icon=quanta
MimeType=application/x-kdevelop;application/x-php;text/css;application/docbook+xml;text/html;application/xml;
Name=Quanta Plus
Name[br]=Quanta+
Name[ko]=Quanta 플러스
Name[ne]=क्वान्टा प्लस
Name[pa]=ਕੁਆਂਟਾ ਪਲੱਸ
Name[sv]=Quanta plus
Name[ta]=குவாண்டா ப்ளஸ்
Name[th]=โปรแกรมพัฒนาเว็บ Quanta Plus
Name[x-test]=xxQuanta Plusxx
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-StartupType=multi
X-KDE-SubstituteUID=false
X-KDE-Username=
