[Desktop Entry]
Name=Quanta Plus BE
Name[br]=Quanta+ BE
Name[ne]=क्वान्टा प्लस बीई
Name[sv]=Quanta plus BE
Name[ta]=குவாண்டா ப்ளஸ் BE
GenericName=Web Development Environment
GenericName[bg]=Разработка на уеб приложения
GenericName[ca]=Entorn de desenvolupament web
GenericName[cs]=Vývojové prostředí pro web
GenericName[da]=Internetudviklingsomgivelser
GenericName[de]=Web-Entwicklungsumgebung
GenericName[el]=Περιβάλλον ανάπτυξης ιστοσελίδων
GenericName[es]=Entorno de desarrollo web
GenericName[et]=Veebiarenduskeskkond
GenericName[eu]=Web garapenerako ingurunea
GenericName[fa]=محیط توسعۀ وب
GenericName[fi]=WWW:n kehitysympäristö
GenericName[fr]=Environnement de développement Internet
GenericName[gl]=Entorno de desenvolvemento de páxinas web
GenericName[hi]=वेब डेवलपमेंट वातावरण
GenericName[hu]=Webfejlesztő környezet
GenericName[is]=Vefþróunarumhverfi
GenericName[it]=Ambiente per lo sviluppo Web
GenericName[ja]=ウェブ開発環境
GenericName[ka]=ვებ დამუშავების გარსი
GenericName[lt]=Žiniatinklio kūrimo aplinka
GenericName[ms]=Persekitaran Pembangunan Web
GenericName[nds]=Ümgeven för Nett-Entwickeln
GenericName[ne]=वेब विकास परिवेश
GenericName[nl]=Omgeving voor webdevelopment
GenericName[pl]=Środowisko do tworzenia stron WWW
GenericName[pt]=Ambiente de Desenvolvimento Web
GenericName[pt_BR]=Ambiente de Desenvolvimento Web
GenericName[ru]=Среда web-разработки
GenericName[sk]=Prostredie na vývoj Web aplikácií
GenericName[sl]=Spletno razvijalno okolje
GenericName[sr]=Окружење за веб развој
GenericName[sr@Latn]=Okruženje za veb razvoj
GenericName[sv]=Webbutvecklingsmiljö
GenericName[ta]=இணைய மேம்பாட்டுச் சூழல்
GenericName[tg]=Фазои тайёр кардани-Web
GenericName[tr]=Web Geliştirme Ortamı
GenericName[uk]=Середовище веб-розробки
GenericName[zh_CN]=Web 开发环境
GenericName[zh_HK]=網頁開發環境
GenericName[zh_TW]=網頁開發環境
Exec=quanta_be
Icon=quanta_be
Type=Application
MimeType=text/html;application/x-webprj
DocPath=quanta/index.html
Comment=Web Development Environment
Comment[bg]=Среда за разработка на уеб приложения
Comment[ca]=Entorn de desenvolupament web
Comment[cs]=Vývojové prostředí pro web
Comment[da]=Internetudviklingsomgivelser
Comment[de]=Web-Entwicklungsumgebung
Comment[el]=Περιβάλλον ανάπτυξης ιστοσελίδων
Comment[es]=Entorno de desarrollo web
Comment[et]=Veebiarenduskeskkond
Comment[eu]=Web garapenerako ingurunea
Comment[fa]=محیط توسعۀ وب
Comment[fi]=WWW:n kehitysympäristö
Comment[fr]=Environnement de développement Internet
Comment[gl]=Entorno de desenvolvemento de páxinas web
Comment[hi]=वेब डेवलपमेंट वातावरण
Comment[hu]=Webfejlesztő környezet
Comment[is]=Vefþróunarumhverfi
Comment[it]=Ambiente per lo sviluppo Web
Comment[ja]=ウェブ開発環境
Comment[ka]=ვებ დამუშავების გარსი
Comment[lt]=Žiniatinklio kūrimo aplinka
Comment[ms]=Persekitaran Pembangunan Web
Comment[nds]=Ümgeven för Nett-Entwickeln
Comment[ne]=वेब विकास परिवेश
Comment[nl]=Omgeving voor webdevelopment
Comment[pl]=Środowisko do tworzenia stron WWW
Comment[pt]=Ambiente de desenvolvimento Web
Comment[pt_BR]=Ambiente de Desenvolvimento Web
Comment[ru]=Среда web-разработки
Comment[sk]=Prostredie na vývoj Web aplikácií
Comment[sl]=Spletno razvijalno okolje
Comment[sr]=Окружење за веб развој
Comment[sr@Latn]=Okruženje za veb razvoj
Comment[sv]=Webbutvecklingsmiljö
Comment[ta]=இணைய மேம்பாட்டுச் சூழல்
Comment[tg]=Фазои тайёр кардани-Web
Comment[tr]=Web Geliştirme Ortamı
Comment[uk]=Середовище веб-розробки
Comment[zh_CN]=Web 开发环境
Comment[zh_HK]=網頁開發環境
Comment[zh_TW]=網頁開發環境
Categories=Qt;KDE;Development;
