[Desktop Entry]
Encoding=UTF-8
Comment=Quanta Project
Comment[el]=Έργο Quanta
Comment[fr]=Projet Quanta
Comment[x-test]=xxQuanta Projectxx
Icon=quanta
Type=MimeType
MimeType=application/x-quanta
Patterns=*.quanta
#DefaultApp=kuanta

[Property::X-KDE-text]
Type=bool
Value=true
