[Desktop Entry]
Comment=Quanta Project
Comment[bg]=Проект на Quanta
Comment[br]=Raktres Quanta
Comment[ca]=Projecte Quanta
Comment[cs]=Quanta projekt
Comment[da]=Quanta-projekt
Comment[de]=Quanta Projekt
Comment[el]=Έργο Quanta
Comment[es]=Proyecto Quanta
Comment[et]=Quanta projekt
Comment[eu]=Quanta proiektua
Comment[fa]=پروژۀ Quanta
Comment[fi]=Quanta projekti
Comment[fr]=Projet Quanta
Comment[ga]=Tionscadal Quanta
Comment[hu]=Quanta-projekt
Comment[is]=Quanta verkefnið
Comment[it]=Progetto Quanta
Comment[ja]=Quanta プロジェクト
Comment[ka]=Quanta პროექტი
Comment[lt]=Quanta projektas
Comment[ms]=Projek Quanta
Comment[nds]=Quanta-Projekt
Comment[ne]=क्वान्टा परियोजना
Comment[nl]=Quanta project
Comment[pl]=Projekt Quanta
Comment[pt]=Projecto Quanta
Comment[pt_BR]=Projeto do Quanta
Comment[ro]=Proiect Quanta
Comment[ru]=Проект Quanta
Comment[sk]=Quanta projekt
Comment[sl]=Projekt Quante
Comment[sr]=Quanta пројекат
Comment[sr@Latn]=Quanta projekat
Comment[sv]=Quanta-projekt
Comment[ta]=குவாண்டா திட்டப்பணி
Comment[tg]=Нақшаи Quanta
Comment[tr]=Quanta Projesi
Comment[uk]=Проект Quanta
Comment[zh_CN]=Quanta 工程
Comment[zh_HK]=Quanta 專案
Comment[zh_TW]=Quanta 專案
Icon=quanta
Type=MimeType
MimeType=application/x-webprj
Patterns=*.webprj

[Property::X-KDE-text]
Type=bool
Value=true
