[Desktop Entry]
Encoding=UTF-8
Type=Service
Exec=blubb
Name=KDevHTMLPreview
Name[it]=Anteprima HTML
Name[sv]=KDevelop HTML-förhandsgranskning
Name[x-test]=xxKDevHTMLPreviewxx
GenericName=HTMLPreview Plugin
GenericName[el]=Πρόσθετο προεπισκόπησης HTML
GenericName[it]=Plugin di anteprima HTML
GenericName[pa]=HTMLPreview ਪਲੱਗਇਨ
GenericName[pt]='Plugin' de Antevisão em HTML
GenericName[pt_BR]='Plugin' de Antevisão em HTML
GenericName[sv]=Insticksprogram för HTML-förhandsgranskning
GenericName[x-test]=xxHTMLPreview Pluginxx
Comment=HTMLPreview Description
Comment[el]=Περιγραφή προεπισκόπησης HTML
Comment[it]=Anteprima HTML
Comment[pt]=Descrição da Antevisão em HTML
Comment[pt_BR]=Descrição da Antevisão em HTML
Comment[sv]=Beskrivning av HTML-förhandsgranskning
Comment[x-test]=xxHTMLPreview Descriptionxx
Icon=konqueror
ServiceTypes=KDevelop/Plugin

X-KDevelop-Plugin-Version=1
X-KDevelop-Plugin-Homepage=http://kdewebdev.org/
X-KDevelop-Plugin-BugsEmailAddress=jens@kdewebdev.org
X-KDevelop-Plugin-Copyright=(C) by Jens Herden

X-KDevelop-Args=

X-KDevelop-Scope=Global
X-KDE-Library=libkdevhtmlpreview
X-KDE-PluginInfo-Name=KDevHTMLPreview
X-KDevelop-Version=4
X-KDevelop-Properties=Quanta,Quanta-Preview
