[Desktop Entry]
Type=Service
Exec=blubb
Icon=text-xml
Name=XML Document Tree
Name[da]=XML dokumenttræ
Name[en_GB]=XML Document Tree
Name[es]=Árbol de documento XML
Name[fr]=Arborescence de documents XML
Name[it]=Albero documento XML
Name[pt]=Árvore do Documento XML
Name[pt_BR]=Árvore do documento XML
Name[sv]=XML-dokumentträd
Name[uk]=Ієрархія документа XML
Name[x-test]=xxXML Document Treexx
Name[zh_CN]=XML 文档树
GenericName=XML Document Tree
GenericName[da]=XML dokumenttræ
GenericName[en_GB]=XML Document Tree
GenericName[es]=Árbol de documento XML
GenericName[fr]=Arborescence de documents XML
GenericName[it]=Albero documento XML
GenericName[pt]=Árvore do Documento XML
GenericName[pt_BR]=Árvore do documento XML
GenericName[sv]=XML-dokumentträd
GenericName[uk]=Ієрархія документа XML
GenericName[x-test]=xxXML Document Treexx
GenericName[zh_CN]=XML 文档树
Comment=Displays the XML structure as a tree
Comment[da]=Viser XML-strukturen som et træ
Comment[en_GB]=Displays the XML structure as a tree
Comment[es]=Muestra la estructura XML en forma de árbol
Comment[fr]=Affiche la structure XML sous la forme d'une arborescence
Comment[it]=Visualizza la struttura XML come un albero
Comment[pt]=Mostra a estrutura do XML como uma árvore
Comment[pt_BR]=Mostra a estrutura do XML como uma árvore
Comment[sv]=Visar XML-strukturen som ett träd
Comment[uk]=Показує деревоподібну структуру XML
Comment[x-test]=xxDisplays the XML structure as a treexx
ServiceTypes=KDevelop/Plugin
X-KDE-Library=kdevxmldocument
X-KDE-PluginInfo-Name=kdevxmldocument
X-KDE-PluginInfo-Author=Ruan Strydom
X-KDE-PluginInfo-License=LGPL
X-KDevelop-Version=10
X-KDE-PluginInfo-Version=0.1
X-KDevelop-Language=XML
X-KDevelop-Category=Global
X-KDevelop-SupportedMimeTypes=application/xml,application/xslt+xml,application/xsd,application/wsdl+xml,application/x-wsdl
X-KDevelop-Mode=GUI
