[Desktop Entry]
Type=Service
Encoding=UTF-8
Name=DBGp
Comment=DBGp debugger plugin, see http://xdebug.org
Comment[es]=Extensión para el depurador DBGp, vea http://xdebug.org
Comment[et]=DBGp siluri plugin, vaata http://xdebug.org
Comment[fr]=Module de débogage DBGp, consultez http://xdebug.org
Comment[it]=Plugin di degub DBGp, vedi http://xdebug.org
Comment[zh_CN]=DBGp 调试器插件，参看 http://xdebug.org
Icon=kdbg
ServiceTypes=Quanta/Debugger
X-KDE-Library=quantadebuggerdbgp
