[Desktop Entry]
Type=Service
Name=DBGp
Comment=DBGp debugger plugin, see http://xdebug.org
Comment[bg]=Приставка на дебъгер DBGp, http://xdebug.org
Comment[ca]=Connector de depuració DBGp, consulteu http://xdebug.org
Comment[cs]=DBGp debugger plugin, viz http://xdebug.org
Comment[da]=DBGp fejlretter-plugin, se http://xdebug.org
Comment[de]=DBGp Debugger Plugin, siehe http://xdebug.org
Comment[el]=Πρόσθετο αποσφαλματωτή DBGp, δείτε το http://xdebug.org
Comment[es]=Extensión para el depurador DBGp, vea http://xdebug.org
Comment[et]=DBGp siluri plugin, vaata http://xdebug.org
Comment[eu]=DBGp araztailearen plugina, ikusi http://xdebug.org
Comment[fa]=وصلۀ اشکال‌زدای DBGp، http://xdebug.org را ببینید
Comment[fi]=DBGp-debugliitännäinen, katso http://xdebug.org
Comment[fr]=Module de débogage DBGp, consultez http://xdebug.org
Comment[ga]=Breiseán dífhabhtóra DBGp, féach ar http://xdebug.org
Comment[gl]=Extensión DBGp para o depurador, vexa tamén http://xdebug.org
Comment[hu]=DBGp nyomkövető modul, lásd: http://xdebug.org
Comment[is]=DBGp aflúsunaríforrit. Sjá http://xdebug.org
Comment[it]=Plugin di degub DBGp, vedi http://xdebug.org
Comment[ja]=DBGp デバッガ プラグイン。http://xdebug.org をご覧ください。
Comment[ka]=DBGp განბზიკვის მოდული, იხილეთ http://xdebug.org
Comment[lt]=DBGp derintuvės priedas, žr. http://xdebug.org
Comment[ms]=Plugin nyahpepijat DBGp, lihat http://xdebug.org
Comment[nds]=Fehlersöök-Moduul för't DBGp, kiek bi http://xdebug.org
Comment[ne]=DBGp त्रुटिमोचक प्लगइन, http://xdebug.org हेर्नुहोस्
Comment[nl]=DBGp-debugger-plugin, zie http://xdebug.org
Comment[pl]=Wtyczka debugera DBGp, patrz http://xdebug.org
Comment[pt]='Plugin' de depuração DBGp, veja http://xdebug.org
Comment[pt_BR]=Plugin de depuração DBGp, veja http://xdebug.org
Comment[ru]=Модуль для  отладчика DBGp, http://xdebug.org
Comment[sk]=DBGp debuger modul, pozri http://xdebug.org
Comment[sl]=Vstavek za razhoroščevanje DBGp, glej http://xdebug.org
Comment[sr]=DBGp прикључак, види http://xdebug.org
Comment[sr@Latn]=DBGp priključak, vidi http://xdebug.org
Comment[sv]=DBGp-insticksprogram för felsökning, se http://xdebug.org
Comment[uk]=Втулок зневаджувача DBGp, див. http://xdebug.org
Comment[zh_CN]=DBGp 调试器插件，参看 http://xdebug.org
Comment[zh_HK]=DBGp 除錯器外掛程式，請參閱 http://xdebug.org
Comment[zh_TW]=DBGp 除錯器外掛程式，請參閱 http://xdebug.org
Icon=kdbg
ServiceTypes=Quanta/Debugger
X-KDE-Library=quantadebuggerdbgp
